
   <!-- Danh Mục-->
   <div class="jumbotro jbtcusto">
       <div class="list-group" style="margin-bottom: 1rem">
           <div class="list-group-item list-group-item-action active">
               Danh Mục
           </div>
           <%dataDM.forEach(function (item) { %>
           <a id="<%=item.ID_DanhMuc%>" href="#" class="<%="DM"+item.ID_DanhMuc%> list-group-item list-group-item-action DMitem" ><%=item.TenDanhMuc%></a>
           <%}); %>
       </div>
       <!-- Thương Hiệu-->
       <div class="list-group" style="margin-bottom: 1rem">
           <div class="list-group-item list-group-item-action active">
               Thương hiệu
           </div>
           <%dataTH.forEach(function (item) { %>
           <a id="<%=item.ID_ThuongHieu%>" href="#" class="<%="TH"+item.ID_ThuongHieu%> list-group-item list-group-item-action THitem"><%=item.TenThuongHieu%></a>
           <%}); %>
       </div>

       <!-- Khoảng giá -->
       <div class="list-group">
           <div class="list-group-item list-group-item-action active" >
               Khoảng giá
           </div>
           <form class="form-horizontal list-group-item list-group-item-action">
                   <div class="row">
                       <div class="form-group form-group-sm  col-sm-12 ">
                           <div class="row">
                               <label for="first_name" class="col-sm-2 col-form-label">Từ</label>
                               <div class="col">
                                   <input id="tbGiaTu" type="text" class="col-sm-10 tbGia form-control" >
                               </div>
                           </div>
                       </div>
                       <div class="form-group form-group-sm  col-sm-12 ">
                           <div class="row">
                               <label for="last_name" class="col-sm-2 col-form-label">Đến</label>
                               <div class="col">
                                   <input id="tbGiaDen" type="text" class="col-sm-10 tbGia form-control"  >
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row d-flex justify-content-center">

                       <div id="btnOk"class="btn btn-info btn-block" >
                           Ok
                       </div>
                   </div>


           </form>

       </div>
       <!-- Adsense-->
       <div class="list-group" style="margin-bottom: 1rem">
           <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">

           </script>
           <!-- hello -->
           <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-2109837881204607"
                data-ad-slot="9148149943"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
           <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
           </script>
           <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
           <!-- Homepage Leaderboard -->
           <ins class="adsbygoogle"
                style="display:inline-block;width:728px;height:90px"
                data-ad-client="ca-pub-1234567890123456"
                data-ad-slot="1234567890"></ins>
           <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
           </script>
       </div>

   </div>

<script>
// Ngăn người dùng nhập chữ vào input giá
(function($) {
    $.fn.inputFilter = function(inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
            if (inputFilter(this.value)) {
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
                this.value = this.oldValue;
                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            }
        });
    };
}(jQuery));
$(document).ready(function() {
    // Restrict input to digits by using a regular expression filter.
    $(".tbGia").inputFilter(function(value) {
        return /^\d*$/.test(value);
    });
});


<%dataDM.forEach(function (item) { %>
$("document").ready(function(){
    $("<%=".DM"+item.ID_DanhMuc%>").click(function(){
        $.ajax({
            url: "<%=domain%>/sanphams/danhmuc/<%=item.ID_DanhMuc%>",
            method: "GET",
            error: function() {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function(data) {
                $(".datasp").empty();
                $(".DMitem").removeClass("list-group-item-action");
                $(".DMitem").removeClass("list-group-item-success");
                $(".THitem").removeClass("list-group-item-success");
                $("<%=".DM"+item.ID_DanhMuc%>").addClass("list-group-item-action");
                $("<%=".DM"+item.ID_DanhMuc%>").addClass("list-group-item-success");
                $.each(data.Items, function(i, item) {
                    var html_to_append ='';
                    var html2='';
                    html_to_append +=
                        '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                            '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                            '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                                '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                            '</a>'+
                            ' <div class="card-body">'+
                                '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                                ' <br>'+
                                ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                                '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                                ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                                '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                                '</div>'+
                            '</div>'+
                        '   </div>';

                    $("#datasp").append(html_to_append);
                });
                itemHover();
                FormartGia();
            }
        });
        return false;
    });
});
<%}); %>


<%dataTH.forEach(function (item) { %>
$("document").ready(function(){
    $("<%=".TH"+item.ID_ThuongHieu%>").click(function(){
        $.ajax({
            url: "<%=domain%>/sanphams/thuonghieu/<%=item.ID_ThuongHieu%>",
            method: "GET",
            error: function() {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function(data) {
                $(".datasp").empty();
                $(".THitem").removeClass("list-group-item-action");
                $(".THitem").removeClass("list-group-item-success");
                $(".DMitem").removeClass("list-group-item-success");
                $("<%=".TH"+item.ID_ThuongHieu%>").addClass("list-group-item-action");
                $("<%=".TH"+item.ID_ThuongHieu%>").addClass("list-group-item-success");
                $.each(data.Items, function(i, item) {
                    var html_to_append ='';
                    html_to_append +=
                        '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                        '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                        '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                        '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                        '</a>'+

                        ' <div class="card-body">'+
                        '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                        ' <br>'+
                        ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                        '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                        ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                        '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                        '</div>'+
                        '</div>'+
                        '   </div>';
                    $("#datasp").append(html_to_append);
                });
                itemHover();
                FormartGia();
            }
        });
        return false;
    });
});
<%}); %>



</script>