
   <!-- Danh Mục-->
   <div class="jumbotro jbtcusto">
       <div class="list-group" style="margin-bottom: 1rem">
           <div class="list-group-item list-group-item-action active">
               Danh Mục
           </div>
           <%dataDM.forEach(function (item) { %>
           <a id="<%=item.ID_DanhMuc%>" href="#" class="<%="DM"+item.ID_DanhMuc%> list-group-item DMitem" ><%=item.TenDanhMuc.Ten%></a>
           <%}); %>
       </div>
       <!-- Thương Hiệu-->
       <div class="list-group" style="margin-bottom: 1rem">
           <div class="list-group-item list-group-item-action active">
               Thương hiệu
           </div>
           <%dataTH.forEach(function (item) { %>
           <a id="<%=item.ID_ThuongHieu%>" href="#" class="<%="TH"+item.ID_ThuongHieu%> list-group-item THitem"><%=item.TenThuongHieu.Ten%></a>
           <%}); %>
       </div>

       <!-- Khoảng giá -->
       <div class="list-group">
           <div class="list-group-item list-group-item-action active" >
               Khoảng giá
           </div>
           <form class="form-horizontal list-group-item list-group-item-action">
                   <div class="row">
                       <div class="form-group form-group-sm  col-sm-12 ">
                           <div class="row">
                               <label class="col-sm-2 col-form-label">Từ</label>
                               <div class="col">
                                   <input id="tbGiaTu" type="text" class="col-sm-10 tbGia form-control ">
                               </div>
                           </div>
                       </div>
                       <div class="form-group form-group-sm  col-sm-12 ">
                           <div class="row">
                               <label  class="col-sm-2 col-form-label">Đến</label>
                               <div class="col">
                                   <input id="tbGiaDen" type="text" class="col-sm-10 tbGia form-control">
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="row d-flex justify-content-center">
                       <div id="btnOk"class="btn btn-info btn-block" >
                           Ok
                       </div>
                   </div>


           </form>

       </div>
       <!-- Adsense-->


   </div>

<script>
// Ngăn người dùng nhập chữ vào input giá
(function($) {
    $.fn.inputFilter = function(inputFilter) {
        return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function() {
            if (inputFilter(this.value)) {
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
                this.value = this.oldValue;
                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            }
        });
    };
}(jQuery));
$(document).ready(function() {
    // Restrict input to digits by using a regular expression filter.
    $(".tbGia").inputFilter(function(value) {
        return /^\d*$/.test(value);
    });
});

// Đổ menu danh mục
<%dataDM.forEach(function (item) { %>
$("document").ready(function(){
    $("<%=".DM"+item.ID_DanhMuc%>").click(function(){
        page = 1;
        sorttype = 'dm';
        sortkey = '<%=item.ID_DanhMuc%>';
        $.ajax({
            url: "<%=domain%>/sanphams/dm/<%=item.ID_DanhMuc%>/1",
            method: "GET",
            error: function() {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function(data) {
                SoTrang =data.SoTrang;
                $('.page-item').remove();
                $(".datasp").empty();
                $(".DMitem").removeClass("list-group-item-success");
                $(".THitem").removeClass("list-group-item-success");
                $("<%=".DM"+item.ID_DanhMuc%>").addClass("list-group-item-action");
                $("<%=".DM"+item.ID_DanhMuc%>").addClass("list-group-item-success");
                $.each(data.SanPham, function(i, item) {
                    var html_to_append ='';
                    html_to_append +=
                        '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                            '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                            '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                                '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                            '</a>'+
                            ' <div class="card-body">'+
                                '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                                ' <br>'+
                                ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                                '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                                ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                                '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                                '</div>'+
                            '</div>'+
                        '   </div>';

                    $("#datasp").append(html_to_append);
                });
                itemHover();
                FormartGia();
                $('.menu-phantrang').append('<li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>');

                for(var i =1;i<=data.SoTrang ;i++){

                    if(i ==1){
                        var html_phantrang_dm ='';
                        html_phantrang_dm +=
                            '<li id="subpagi'+i+'"  class="page-item active"><a class="page-link" href="#"> '+i+'</a></li>';
                        $('.menu-phantrang').append(html_phantrang_dm);
                    }
                    else {
                        var html_phantrang_dm ='';
                        html_phantrang_dm +=
                            '<li id="subpagi'+i+'" class="page-item "><a class="page-link" href="#"> ' + i + '</a></li>';
                        $('.menu-phantrang').append(html_phantrang_dm);
                    }
                }
                $('.menu-phantrang').append(' <li id="pagiSau" class="page-item"><a class="page-link" href="#">Sau</a></li>');

                TrangTruoc();
                TrangSau();
                ClickVaoCacTrang();
            }
        });
        return false;
    });
});
<%}); %>

// Đổ menu thương hiệu
<%dataTH.forEach(function (item) { %>
$("document").ready(function(){
    $("<%=".TH"+item.ID_ThuongHieu%>").click(function(){
        page = 1;
        sorttype = 'th';
        sortkey = '<%=item.ID_ThuongHieu%>';
        $.ajax({
            url: "<%=domain%>/sanphams/th/<%=item.ID_ThuongHieu%>/1",
            method: "GET",
            error: function() {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function(data) {
                SoTrang =data.SoTrang;
                $('.page-item').remove();
                $(".datasp").empty();
                $(".THitem").removeClass("list-group-item-success");
                $(".DMitem").removeClass("list-group-item-success");
                $("<%=".TH"+item.ID_ThuongHieu%>").addClass("list-group-item-action");
                $("<%=".TH"+item.ID_ThuongHieu%>").addClass("list-group-item-success");
                $.each(data.SanPham, function(i, item) {
                    var html_to_append ='';
                    html_to_append +=
                        '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                        '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                        '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                        '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                        '</a>'+
                        ' <div class="card-body">'+
                        '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                        ' <br>'+
                        ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                        '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                        ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                        '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                        '</div>'+
                        '</div>'+
                        '   </div>';
                    $("#datasp").append(html_to_append);
                });

                itemHover();
                FormartGia();
                $('.menu-phantrang').append('<li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>');

                for(var i =1;i<=data.SoTrang ;i++){

                    if(i ==1){
                        var html_phantrang_dm ='';
                        html_phantrang_dm +=
                            '<li id="subpagi'+i+'"  class="page-item active"><a class="page-link" href="#"> '+i+'</a></li>';
                        $('.menu-phantrang').append(html_phantrang_dm);
                    }
                    else {
                        var html_phantrang_dm ='';
                        html_phantrang_dm +=
                            '<li id="subpagi'+i+'" class="page-item "><a class="page-link" href="#"> ' + i + '</a></li>';
                        $('.menu-phantrang').append(html_phantrang_dm);
                    }
                }
                $('.menu-phantrang').append(' <li id="pagiSau" class="page-item"><a class="page-link" href="#">Sau</a></li>');

                TrangTruoc();
                TrangSau();
                ClickVaoCacTrang();
            }
        });
        return false;
    });
});
<%}); %>

//Sự kiện tìm sản phẩm bằng giá của nút OK
var giaBatDau;
var giaKetThuc;

$(document).ready(function () {
    $("#btnOk").click(function(){
        giaBatDau = $("#tbGiaTu").val();
        giaKetThuc = $("#tbGiaDen").val();
        page =1;
        if ($("#tbGiaTu").val() !="" && $("#tbGiaDen").val()!=""){
            $.ajax({
                url: "<%=domain%>/sanphams/gia/"+$("#tbGiaTu").val()+"/"+$("#tbGiaDen").val()+"/1",
                method: "GET",
                error: function() {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function(data) {
                    SoTrang =data.SoTrang;
                    $('.page-item').remove();
                    $(".datasp").empty();
                    $.each(data.SanPham, function(i, item) {
                        var html_to_append ='';
                        html_to_append +=
                            '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                            '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                            '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                            '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                            '</a>'+
                            ' <div class="card-body">'+
                            '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                            ' <br>'+
                            ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                            '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                            ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                            '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                            '</div>'+
                            '</div>'+
                            '   </div>';
                        $("#datasp").append(html_to_append);
                    });
                    itemHover();
                    FormartGia();
                    $('.menu-phantrang').append('<li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>');

                    for(var i =1;i<=data.SoTrang ;i++){

                        if(i ==1){
                            var html_phantrang_dm ='';
                            html_phantrang_dm +=
                                '<li id="subpagi'+i+'"  class="page-item active"><a class="page-link" href="#"> '+i+'</a></li>';
                            $('.menu-phantrang').append(html_phantrang_dm);
                        }
                        else {
                            var html_phantrang_dm ='';
                            html_phantrang_dm +=
                                '<li id="subpagi'+i+'" class="page-item "><a class="page-link" href="#"> ' + i + '</a></li>';
                            $('.menu-phantrang').append(html_phantrang_dm);
                        }
                    }
                    $('.menu-phantrang').append(' <li id="pagiSau" class="page-item"><a class="page-link" href="#">Sau</a></li>');

                    TrangTruoc_BtGiaSP();
                    TrangSau_BtGiaSP();
                    ClickVaoCacTrang_BtnGiaSP();
                }
            });
            return false;
        }
    });
});
//Sự kiện trang trước của btn tìm kiếm sản phẩm bằng giá
function TrangTruoc_BtGiaSP() {
    $("#pagiTruoc").click(function () {
        if(page==1){
            $("#pagiTruoc").addClass("disabled");
            return false;
        }
        else{
            $(".page-item").removeClass("active");
            $("#subpagi"+(page-1)).addClass("active");
            $.ajax({
                url: "<%=domain%>/sanphams/gia/"+giaBatDau+"/"+giaKetThuc+"/"+(page-1),
                method: "GET",
                error: function() {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function(data) {
                    $(".datasp").empty();
                    $.each(data.SanPham, function(i, item) {
                        var html_to_append ='';
                        html_to_append +=
                            '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                            '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                            '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                            '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                            '</a>'+

                            ' <div class="card-body">'+
                            '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                            ' <br>'+
                            ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                            '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                            ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                            '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                            '</div>'+
                            '</div>'+
                            '   </div>';
                        $("#datasp").append(html_to_append);
                    });
                    itemHover();
                    FormartGia();
                }
            });
            page = page-1;
            $("#pagiSau").removeClass("disabled");
            if(page==1){
                $("#pagiTruoc").addClass("disabled");
            }
            return false;
        }
    });
}

//Sự kiện trang sau của btn tìm kiếm sản phẩm bằng giá
function TrangSau_BtGiaSP() {
    var TongSoTrang = SoTrang;
    $("#pagiSau").click(function () {
        if( page == TongSoTrang){
            $("#pagiSau").addClass("disabled");
            return false;
        }
        else{
            $(".page-item").removeClass("active");
            $("#subpagi"+(page+1)).addClass("active");
            $("#pagiTruoc").removeClass("disabled");
            $.ajax({
                url: "<%=domain%>/sanphams/gia/"+giaBatDau+"/"+giaKetThuc+"/"+(page+1),
                method: "GET",
                error: function() {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function(data) {
                    $(".datasp").empty();
                    $.each(data.SanPham, function(i, item) {
                        var html_to_append ='';
                        html_to_append +=
                            '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                            '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                            '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                            '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                            '</a>'+

                            ' <div class="card-body">'+
                            '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                            ' <br>'+
                            ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                            '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                            ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                            '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                            '</div>'+
                            '</div>'+
                            '   </div>';
                        $("#datasp").append(html_to_append);
                    });
                    itemHover();
                    FormartGia();
                }
            });
            page = page+1;
            return false;
        }
    });
}
//Sự kiện click từng trang của btn tìm kiếm sản phẩm bằng giá
function ClickVaoCacTrang_BtnGiaSP(){
    <%for (i=1;i<= soTrangLocal;i++){%>
    $("<%="#subpagi"+i %>").click(function () {
        $(".page-item").removeClass("active");
        $("#pagiSau").removeClass("disabled");
        $("<%="#subpagi"+i %>").addClass("active");
        $.ajax({
            url: "<%=domain%>/sanphams/gia/"+giaBatDau+"/"+giaKetThuc+"/<%=i%>",
            method: "GET",
            error: function() {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function(data) {
                $(".datasp").empty();
                $.each(data.SanPham, function(i, item) {
                    var html_to_append ='';
                    html_to_append +=
                        '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                        '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                        '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                        '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                        '</a>'+
                        ' <div class="card-body">'+
                        '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                        ' <br>'+
                        ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                        '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                        ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                        '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                        '</div>'+
                        '</div>'+
                        '   </div>';
                    $("#datasp").append(html_to_append);
                });
                itemHover();
                FormartGia();
            }
        });
        <%="page="+i%>;
        if(page != 1){
            $("#pagiTruoc").removeClass("disabled");
        }
        return false;
    });
    <%}%>
}

</script>
<script>

</script>