<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><i class="fas fa-store"></i> HQKStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if(key == "Index"){%>
        <ul class="navbar-nav ml-auto" style="margin-right:30px">
            <li class="nav-item">
                <a class="nav-link" href="login">Đăng Nhập</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Đăng ký</a>
            </li>
        </ul>
            <div id="info"></div>


        <form class="form-inline my-2 my-lg-0">
            <input id="inputTK" class="form-control mr-sm-2" type="search" placeholder="Nhập tên sản phẩm" aria-label="Search">
            <button id="btnTimKiem" class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>&nbsp;
            <a href="#" class="fas fa-shopping-cart" style="color: #28a745; text-decoration: none"> 0 SP</a>
        </form>
        <%}else {%>
                <ul class="navbar-nav ml-auto" style="margin-right:30px">
                    <li class="nav-item">
                        <a href="#" class="fas fa-shopping-cart" style="color: #28a745; text-decoration: none"> 0 SP</a>
                    </li>
                </ul>

        <%}%>
    </div>
</nav>

<div style="margin-top:30px;"></div>

<script>
    var tenSanPhamDangTim;
$(document).ready(function(){
    $("#btnTimKiem").click(function () {
        tenSanPhamDangTim = $("#inputTK").val().toLowerCase();
        page =1;

        $.ajax({
            url: "<%=domain%>/sanphams/ten/"+$("#inputTK").val().toLowerCase()+"/1/ten",
            method: "GET",
            error: function() {
                toastr["error"]("Bạn chưa nhập tên sản phẩm, vui lòng nhập tên sản phẩm để tìm kiếm!");
            },
            success: function(data) {
                SoTrang =data.SoTrang;
                $(".datasp").empty();
                $('.page-item').remove();
                $.each(data.SanPham, function(i, item) {
                    var html_to_append ='';
                    html_to_append +=
                        '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                        '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                        '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                        '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                        '</a>'+
                        ' <div class="card-body">'+
                        '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                        ' <br>'+
                        ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                        '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                        ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                        '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                        '</div>'+
                        '</div>'+
                        '   </div>';
                    $("#datasp").append(html_to_append);
                });
                itemHover();
                FormartGia();
                $('.menu-phantrang').append('<li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>');

                for(var i =1;i<=data.SoTrang ;i++){

                    if(i ==1){
                        var html_phantrang_dm ='';
                        html_phantrang_dm +=
                            '<li id="subpagi'+i+'"  class="page-item active"><a class="page-link" href="#"> '+i+'</a></li>';
                        $('.menu-phantrang').append(html_phantrang_dm);
                    }
                    else {
                        var html_phantrang_dm ='';
                        html_phantrang_dm +=
                            '<li id="subpagi'+i+'" class="page-item "><a class="page-link" href="#"> ' + i + '</a></li>';
                        $('.menu-phantrang').append(html_phantrang_dm);
                    }
                }
                $('.menu-phantrang').append(' <li id="pagiSau" class="page-item"><a class="page-link" href="#">Sau</a></li>');
                TrangTruoc_BtnTimKiem();
                TrangSau_BtnTimKiem();
                ClickVaoCacTrang_BtnTimKiem();
            }
        });
        return false;
    });
});


</script>
<script>
    //Sự kiện trang trước của btn tìm kiếm tên sản phẩm
    function TrangTruoc_BtnTimKiem() {
        $("#pagiTruoc").click(function () {
            if(page==1){
                $("#pagiTruoc").addClass("disabled");
                return false;
            }
            else{
                $(".page-item").removeClass("active");
                $("#subpagi"+(page-1)).addClass("active");
                $.ajax({
                    url: "<%=domain%>/sanphams/ten/"+tenSanPhamDangTim+"/"+(page-1)+"/ten",
                    method: "GET",
                    error: function() {
                        $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                    },
                    success: function(data) {
                        $(".datasp").empty();
                        $.each(data.SanPham, function(i, item) {
                            var html_to_append ='';
                            html_to_append +=
                                '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                                '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                                '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                                '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                                '</a>'+

                                ' <div class="card-body">'+
                                '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                                ' <br>'+
                                ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                                '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                                ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                                '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                                '</div>'+
                                '</div>'+
                                '   </div>';
                            $("#datasp").append(html_to_append);
                        });
                        itemHover();
                        FormartGia();
                    }
                });
                page = page-1;
                $("#pagiSau").removeClass("disabled");
                if(page==1){
                    $("#pagiTruoc").addClass("disabled");
                }
                return false;
            }
        });
    }

    //Sự kiện trang sau của btn tìm kiếm tên sản phẩm
    function TrangSau_BtnTimKiem() {
        var TongSoTrang = SoTrang;
        $("#pagiSau").click(function () {
            if( page == TongSoTrang){
                $("#pagiSau").addClass("disabled");
                return false;
            }
            else{
                $(".page-item").removeClass("active");
                $("#subpagi"+(page+1)).addClass("active");
                $("#pagiTruoc").removeClass("disabled");
                $.ajax({
                    url: "<%=domain%>/sanphams/ten/"+tenSanPhamDangTim+"/"+(page+1)+"/ten",
                    method: "GET",
                    error: function() {
                        $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                    },
                    success: function(data) {
                        $(".datasp").empty();
                        $.each(data.SanPham, function(i, item) {
                            var html_to_append ='';
                            html_to_append +=
                                '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                                '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                                '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                                '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                                '</a>'+

                                ' <div class="card-body">'+
                                '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                                ' <br>'+
                                ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                                '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                                ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                                '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                                '</div>'+
                                '</div>'+
                                '   </div>';
                            $("#datasp").append(html_to_append);
                        });
                        itemHover();
                        FormartGia();
                    }
                });
                page = page+1;
                return false;
            }
        });
    }
    //Sự kiện click từng trang của btn tìm kiếm tên sản phẩm
    function ClickVaoCacTrang_BtnTimKiem(){
        <%for (i=1;i<= soTrangLocal;i++){%>
        $("<%="#subpagi"+i %>").click(function () {
            $(".page-item").removeClass("active");
            $("#pagiSau").removeClass("disabled");
            $("<%="#subpagi"+i %>").addClass("active");
            $.ajax({
                url: "<%=domain%>/sanphams/ten/"+tenSanPhamDangTim+"/<%=i%>/ten",
                method: "GET",
                error: function() {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function(data) {
                    $(".datasp").empty();
                    $.each(data.SanPham, function(i, item) {
                        var html_to_append ='';
                        html_to_append +=
                            '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                            '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                            '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                            '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                            '</a>'+

                            ' <div class="card-body">'+
                            '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                            ' <br>'+
                            ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                            '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                            ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                            '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                            '</div>'+
                            '</div>'+
                            '   </div>';
                        $("#datasp").append(html_to_append);
                    });
                    itemHover();
                    FormartGia();
                }
            });
            <%="page="+i%>;
            if(page != 1){
                $("#pagiTruoc").removeClass("disabled");
            }
            return false;
        });
        <%}%>
    }
</script>
