<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<p>
  <% dataa.forEach(function (item) { %>
    <li> <%= item.ID_SanPham %></li>
    <li> <%= item.TenSanPham %></li>
  <%}); %>


</p>



<%dataSP.forEach(function (item) { %>
<div class="col-6 col-sm-6 col-md-3 lazyitem d-flex ">
    <div id="<%="SP"+item.ID_SanPham%>" class="card" style=" margin-bottom: 1rem">
        <a href="/SanPhams/">
            <img id="<%="subSP"+item.ID_SanPham%>" href="<%= "/SanPhams/"+item.ID_SanPham%>" class="card-img-top" src="<%= item.Avatar %>" alt="Card image cap" >
        </a>

        <div class="card-body ">

            <h5 class="card-title" style="height: 2.5rem" ><a class="linksp" href="/SanPhams/"><%= item.TenSanPham %></a></h5>
            <br>
            <h6><span class="card-text text-danger  d-flex justify-content-center"><%=item.TiLeSale%>% off</span></h6>
            <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del><%= item.Gia %> Đ</del></p> </h6>
            <span class="d-flex justify-content-center">Giá hiện tại:</span>
            <h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center"><%= item.Gia - (item.Gia/100*item.TiLeSale) %> Đ</span></h4>
        </div>
    </div>
</div>
<%}); %>
  </body>
</html>
