<% layout('Layout/layoutKhachHang.ejs') -%>
<% script('../public/stylesheets/style') -%>

<%-partial('ThanhPhanWeb/carousel.ejs')%>

<div id="items-container"></div>
<div class="container-fluid" style="padding: 1rem">
  <div class="row">

    <div class="col-sm-3">
      <%-partial('ThanhPhanWeb/danhmuc')%>
    </div>
    <div class="col-sm-9">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
      <div id ="datasp" class="row datasp">
        <div id="info"></div>
        <%dataSP.forEach(function (item) { %>
        <div class="col lazyitem">
          <a id="<%="SP"+item.ID_SanPham%>" href="<%= "/SanPhams/"+item.ID_SanPham%>" class="card" style="width: 12rem; margin-bottom: 1rem">
            <img id="<%="subSP"+item.ID_SanPham%>" class="card-img-top" src="<%= item.Avatar %>" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title" style="height: 4rem" ><%= item.TenSanPham %></h5>

              <p class="card-text badge badge-pill badge-success" pattern="(d{3})([.])(d{2})"><%= item.Gia %> VND</p>
              <!-- <a href="<%= "/SanPhams/abc/"+item.ID_SanPham%>" class="btn btn-primary">Xem chi tiết</a>-->
            </div>
          </a>
        </div>
        <%}); %>
      </div>
      <!--Pagination-->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>
          <li class="page-item"><a class="page-link" href="#">6</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>

    </div>

  </div>
</div>
<script>

  //Sự kiên hover cho sản phẩm
  function itemHover(){
    <%dataSP.forEach(function (item) { %>
    $("<%="#SP"+item.ID_SanPham %>").on({
      mouseenter: function () {
        $("<%="#subSP"+item.ID_SanPham %>").fadeOut('fast');
        $("<%="#subSP"+item.ID_SanPham %>").attr('src','<%= item.AvtDetail1%>');
        $("<%="#subSP"+item.ID_SanPham %>").fadeIn('fast');
      },
      mouseleave: function () {
        $("<%="#subSP"+item.ID_SanPham %>").fadeOut('fast');
        $("<%="#subSP"+item.ID_SanPham %>").attr('src','<%= item.Avatar%>');
        $("<%="#subSP"+item.ID_SanPham %>").fadeIn('fast');
      }
    });
    <%}); %>
  }
  //Set hover cho sản phẩm khi load index
  $("document").ready(function(){
    itemHover();
  });
</script>
<script>


  //Set sự kiện click cho danh mục
  var idDM=0;
  var idTH=0;
  var tu=0;
  var den=0;

</script>
<!--lưu trữ-->
<script>
  <%dataDM.forEach(function (item) { %>
  $("document").ready(function(){
    $("<%=".DM"+item.ID_DanhMuc%>").click(function(){
      $(".datasp").empty();
      $.ajax({
        url: "<%=domain%>/sanphams/danhmuc/<%=item.ID_DanhMuc%>",
        method: "GET",
        error: function() {
          $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
        },
        success: function(data) {
          $(".DMitem").removeClass("list-group-item-action");
          $(".DMitem").removeClass("list-group-item-success");
          $("<%=".DM"+item.ID_DanhMuc%>").addClass("list-group-item-action");
          $("<%=".DM"+item.ID_DanhMuc%>").addClass("list-group-item-success");
          $.each(data.Items, function(i, item) {
            var html_to_append ='';
            html_to_append +=
                    '<div class="col">' +
                    '<a id="SP'+item.ID_SanPham+'" href="/SanPhams/'+item.ID_SanPham+'" class="card" style="width: 12rem; margin-bottom: 1rem">'+
                    '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                    '<div class="card-body">'+
                    '<h5 class="card-title" style="height: 4rem" >'+item.TenSanPham+'</h5>'+
                    ' <p class="card-text badge badge-pill badge-success">'+item.Gia+' VND</p>'+
                    '</div>'+
                    '</a>'+
                    '</div>';
            $("#datasp").append(html_to_append);
          });
          itemHover();
        }
      });
      return false;
    });
  });
  <%}); %>


  <%dataTH.forEach(function (item) { %>
  $("document").ready(function(){
    $("<%=".TH"+item.ID_ThuongHieu%>").click(function(){
      $(".datasp").empty();
      $.ajax({
        url: "<%=domain%>/sanphams/thuonghieu/<%=item.ID_ThuongHieu%>",
        method: "GET",
        error: function() {
          $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
        },
        success: function(data) {
          $(".THitem").removeClass("list-group-item-action");
          $(".THitem").removeClass("list-group-item-success");
          $("<%=".TH"+item.ID_ThuongHieu%>").addClass("list-group-item-action");
          $("<%=".TH"+item.ID_ThuongHieu%>").addClass("list-group-item-success");
          $.each(data.Items, function(i, item) {
            var html_to_append ='';
            html_to_append +=
                    '<div class="col">' +
                    '<a id="SP'+item.ID_SanPham+'" href="/SanPhams/'+item.ID_SanPham+'" class="card" style="width: 12rem; margin-bottom: 1rem">'+
                    '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                    '<div class="card-body">'+
                    '<h5 class="card-title" style="height: 4rem" >'+item.TenSanPham+'</h5>'+
                    ' <p class="card-text badge badge-pill badge-success">'+item.Gia+' VND</p>'+
                    '</div>'+
                    '</a>'+
                    '</div>';
            $("#datasp").append(html_to_append);
          });
          itemHover();
        }
      });
      return false;
    });
  });
  <%}); %>
</script>