<% layout('Layout/layoutKhachHang.ejs') -%>
<% script('../public/stylesheets/style') -%>

<%-partial('ThanhPhanWeb/Carousel.ejs')%>

<div id="items-container"></div>
<div class="container" style="padding: 1rem">
  <div class="row">

    <div class="col-sm-3">
      <%-partial('ThanhPhanWeb/Danhmuc')%>
    </div>
    <div class="col-sm-9">
      <img src="https://bb4298.s3-us-west-1.amazonaws.com/index.svg" class="loadingDiv" alt="loadingIcon">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/"><i class="fas fa-store"></i> HQKStore</a></li>
          <li class="breadcrumb-item active" aria-current="page">Trang chủ</li>
        </ol>
      </nav>
      <div id ="datasp" class="row datasp ">
        <div id="info"></div>
          <!-- Sản phẩm sẽ được load vào đây :)) -->
      </div>
      <!--Pagination-->
      <nav  aria-label="Page navigation example">
        <ul class="pagination menu-phantrang">
          <li id="pagiTruoc" class="page-item "><a class="page-link" href="">Trước</a></li>

            <%for (i=1;i<= soTrang;i++){%>
            <%if(i==1){%>
            <li id="<%="subpagi"+i %>" class="d-inline page-item active"><a class="page-link" href="#"> <%=i%></a></li>
            <%}else{%>
            <li id="<%="subpagi"+i %>" class="d-inline page-item"><a class="page-link " href="#"> <%=i%></a></li>
            <%}%>
            <%}%>

          <li id="pagiSau" class="page-item"><a class="page-link" href="">Sau</a></li>
        </ul>
      </nav>

    </div>

  </div>
</div>
<script>

//Hàm hover cho sản phẩm
function itemHover(){
  <%dataSP.forEach(function (item) { %>
  $("<%="#SP"+item.ID_SanPham %>").on({
    mouseenter: function () {
      $("<%="#subSP"+item.ID_SanPham %>").fadeOut('fast');
      $("<%="#subSP"+item.ID_SanPham %>").attr('src','<%= item.AvtDetail1%>');
      $("<%="#SP"+item.ID_SanPham %>").addClass('border-info');
      $("<%="#subSP"+item.ID_SanPham %>").fadeIn('low');
    },
    mouseleave: function () {
      $("<%="#subSP"+item.ID_SanPham %>").fadeOut('fast');
      $("<%="#subSP"+item.ID_SanPham %>").attr('src','<%= item.Avatar%>');
      $("<%="#SP"+item.ID_SanPham %>").removeClass('border-info');
      $("<%="#subSP"+item.ID_SanPham %>").fadeIn('low');
    }
  });
  <%}); %>

}

//Set hover cho sản phẩm khi load index
$("document").ready(function(){
  itemHover();
  FormartGia();
});
</script>

<script>

//Load sản phẩm sau khi load xong trang
$("document").ready(function(){
  $.ajax({
    url: "<%=domain%>/sanphams/*/*/1",
    method: "GET",
    error: function() {
      $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
    },
    success: function(data) {
      $.each(data.SanPham, function(i, item) {
        var html_to_append ='';
        html_to_append +=
                '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                '<img id="subSP'+item.ID_SanPham+'" class="card-img-top " src="'+item.Anh.Avatar+'" alt="Card image cap">'+
                '</a>'+
                ' <div class="card-body">'+
                '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                ' <br>'+
                ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                '</div>'+
                '</div>'+
                '   </div>';
        $("#datasp").append(html_to_append);
      });
      itemHover();
      FormartGia();
    }
  });
  return false;
});

var page = 1;
var sorttype ='*';
var sortkey ='*';

var SoTrang = "<%= soTrang%>";

//Sự kiện trang trước
TrangTruoc();
function TrangTruoc() {
  $("#pagiTruoc").click(function () {
    if(page==1){
      $("#pagiTruoc").addClass("disabled");
      return false;
    }
    else{
      $(".page-item").removeClass("active");
      $("#subpagi"+(page-1)).addClass("active");
      $.ajax({
        url: "<%=domain%>/sanphams/"+sorttype+"/"+sortkey+"/"+(page-1),
        method: "GET",
        error: function() {
          $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
        },
        success: function(data) {
          $(".datasp").empty();
          $.each(data.SanPham, function(i, item) {
            var html_to_append ='';
            html_to_append +=
                    '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                    '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                    '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                    '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                    '</a>'+
                    ' <div class="card-body">'+
                    '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                    ' <br>'+
                    ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                    '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                    ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                    '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                    '</div>'+
                    '</div>'+
                    '   </div>';
            $("#datasp").append(html_to_append);
          });
          itemHover();
          FormartGia();
        }
      });
      page = page-1;
      $("#pagiSau").removeClass("disabled");
      if(page==1){
        $("#pagiTruoc").addClass("disabled");
      }
      return false;
    }
  });
}


//Sự kiện trang sau
TrangSau();
function TrangSau() {
  var TongSoTrang = SoTrang;
  $("#pagiSau").click(function () {
    if( page == TongSoTrang){
      $("#pagiSau").addClass("disabled");
      return false;
    }
    else{
      $(".page-item").removeClass("active");
      $("#subpagi"+(page+1)).addClass("active");
      $("#pagiTruoc").removeClass("disabled");
      $.ajax({
        url: "<%=domain%>/sanphams/"+sorttype+"/"+sortkey+"/"+(page+1),
        method: "GET",
        error: function() {
          $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
        },
        success: function(data) {
          $(".datasp").empty();
          $.each(data.SanPham, function(i, item) {
            var html_to_append ='';
            html_to_append +=
                    '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                    '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                    '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                    '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                    '</a>'+
                    ' <div class="card-body">'+
                    '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                    ' <br>'+
                    ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                    '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                    ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                    '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                    '</div>'+
                    '</div>'+
                    '   </div>';
            $("#datasp").append(html_to_append);
          });
          itemHover();
          FormartGia();
        }
      });
      page = page+1;
      return false;
    }
  });
}
<%=soTrangLocal = soTrang%>
//Sự kiện click vào các trang của sản phẩm
ClickVaoCacTrang();
function ClickVaoCacTrang(){
  <%for (i=1;i<= soTrangLocal;i++){%>
  $("<%="#subpagi"+i %>").click(function () {
    $(".page-item").removeClass("active");
    $("#pagiSau").removeClass("disabled");
    $("<%="#subpagi"+i %>").addClass("active");
    $.ajax({
      url: "<%=domain%>/sanphams/"+sorttype+"/"+sortkey+"/<%=i%>",
      method: "GET",
      error: function() {
        $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
      },
      success: function(data) {
        $(".datasp").empty();
        $.each(data.SanPham, function(i, item) {
          var html_to_append ='';
          html_to_append +=
                  '<div class="col-12 col-sm-6 col-md-4 col-lg-3 lazyitem d-flex">'+
                  '<div id="SP'+item.ID_SanPham+'" class="card" style=" margin-bottom: 1rem">'+
                  '<a href="/SanPhams/'+item.ID_SanPham+'">'+
                  '<img id="subSP'+item.ID_SanPham+'" class="card-img-top" src="'+item.Anh.Avatar+'" alt="Card image cap" >'+
                  '</a>'+
                  ' <div class="card-body">'+
                  '<h5 class="card-title" style="height: 3rem" ><a class="linksp" href="/SanPhams/'+item.ID_SanPham+'">'+item.TenSanPham.Ten+'</a></h5>'+
                  ' <br>'+
                  ' <h6><span class="card-text text-danger  d-flex justify-content-center">'+item.TiLeSale+'% off</span><h6>'+
                  '  <h6><p class="card-text text-secondary itemPrice d-flex justify-content-center" style="margin-bottom: 2px;"> <del>'+ item.Gia +' Đ</del></p> </h6>'+
                  ' <span class="d-flex justify-content-center">Giá hiện tại:</span>'+
                  '<h4><span class="card-text badge badge-pill badge-success itemPrice d-flex justify-content-center">'+ parseInt(item.Gia - (item.Gia/100*item.TiLeSale)) +' Đ</span></h4>'+
                  '</div>'+
                  '</div>'+
                  '   </div>';
          $("#datasp").append(html_to_append);
        });
        itemHover();
        FormartGia();
      }
    });
    <%="page="+i%>;
    if(page != 1){
      $("#pagiTruoc").removeClass("disabled");
    }
    return false;
  });
  <%}%>
}


</script>