<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<br><hr>

<p>
    <% dataa.forEach(function (item) { %>
<li> <%= item.ID_SanPham %></li>
<li> <%= item.TenSanPham %></li>
<li> <%= item.TenDanhMuc %></li>
<li> <%= item.MoTa %></li>
<li> <%= item.Gia %></li>
<li> <%= item.TiLeSale %></li>
<li> <%= item.Avatar %></li>
<li> <%= item.Ngay %></li>
<li> <%= item.Thang %></li>
<li> <%= item.Nam %></li>
<li> <%= item.SoLuong %></li>
<li> <%= item.TrangThai %></li>
<br><hr>




<%}); %>


</p>

</body>
</html>
