<% layout('../Layout/layoutAdmin.ejs') -%>
<div class="container">
    <div class="row-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin"><i class="fas fa-store"></i> HQKStore Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý Thương hiệu</li>
            </ol>
        </nav>
    </div>

    <div class="row-fluid">
        <div>
            <button type="button" class="col-12 col-lg-3 btn btn-primary d-inline " data-toggle="modal" data-target="#modalThem">
                Thêm thương hiệu
            </button>

            <form class="form-inline ml-auto d-inline float-right ">
                <input id="inputTK" class="form-control" type="search" placeholder="Nhập tên thương hiệu"
                       aria-label="Search">
                <button id="btnTimKiem" class="btn btn-outline-success" type="submit">Tìm kiếm</button>
            </form>
        </div>

    </div>

    <br><br>

    <div class="table-responsive">
        <table class="table table-hover">
            <img src="<%=urlLoading%>" class="loadingDiv" alt="loadingIcon">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên thương hiệu</th>
                <th scope="col">Thao tác</th>
            </tr>
            </thead>
            <tbody id="tableTH">

            <!--Danh sách Thương hiệu được load vào đây -->

            </tbody>
        </table>
    </div>

    <div id="info"></div>
    <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination menu-phantrang">
            <li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>

            <% for (i = 1;i <= soTrang;i++){ %>
                <% if(i == 1){ %>
                    <li id="<%= "subpagi" + i %>" class="d-inline page-item active pagesubitem"><a class="page-link"
                                                                                                   href="#"> <%= i %></a>
                    </li>
                <% }else{ %>
                    <li id="<%= "subpagi" + i %>" class="d-inline page-item pagesubitem"><a class="page-link "
                                                                                            href="#"> <%= i %></a></li>
                <% } %>
            <% } %>

            <li id="pagiSau" class="page-item"><a class="page-link" href="#">Sau</a></li>
        </ul>
    </nav>
</div>

<!--  Modal Thêm thương hiệu-->
<div class="modal fade" id="modalThem">
    <div class="modal-dialog modal-lg modal-lg modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-store"></i> Thêm thương hiệu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="was-validated">
                    <div class="form-group">
                        <label for="TenThuongHieu">Tên thương hiệu</label>
                        <input type="text" class="form-control" id="TenThuongHieu" placeholder="Nhập tên thương hiệu"
                               name="uname" onkeydown="EnterThemTH()" required>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <label class="btn btn-success" onclick="ThemThuongHieu()">Xác nhận</label>
                <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
            </div>

        </div>
    </div>
</div>
<script>
    function EnterThemTH() {
        if (event.key === 'Enter') {
            ThemThuongHieu();
        }
    }
</script>

<!-- Danh sách Modal Sửa thương hiệu-->
<div id="DanhSachModalSua">
    <% dataTH.forEach(function (item) { %>
        <div class="modal fade" id="modalSua<%= item.ID_ThuongHieu %>">
            <div class="modal-dialog modal-lg modal-lg modal-sm">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-store"></i> Sửa thương hiệu</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="was-validated">
                            <div class="form-group">
                                <label for="TenThuongHieu<%= item.ID_ThuongHieu %>">Tên thương hiệu</label>
                                <input type="text" class="form-control tenMoi" id="TenThuongHieu<%= item.ID_ThuongHieu %>"
                                       placeholder="Nhập tên thương hiệu" value="<%= item.TenThuongHieu.Ten %>"
                                       required>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <label id="<%= item.ID_ThuongHieu %>" class="btn btn-success btnSuaMoi">Xác nhận</label>
                        <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
                    </div>

                </div>
            </div>
        </div>
    <% }) %>
</div>

<!-- Danh sách Modal Xóa thương hiệu-->
<div id="DanhSachModalXoa">
    <% dataTH.forEach(function (item) { %>
        <div class="modal fade" id="modalXoa<%= item.ID_ThuongHieu %>">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-store"></i> Xóa thương hiệu</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Bạn có thực sự muốn xóa thương hiệu này, tất cả sản phẩm thuộc thương hiệu này sẽ bị xóa. Thao tác này không thể hoàn tác ?
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <label id="<%= item.ID_ThuongHieu %>" class="btn btn-success btnXoaMoi">Xác nhận</label>
                        <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
                    </div>

                </div>
            </div>
        </div>
    <% }) %>
</div>


<script>
    //Load danh sách thương hiệu
    LoadThuongHieu();
    function LoadThuongHieu() {
        $.ajax({
            url: "<%= domain %>/ThuongHieus/1?token=" + $.cookie("token"),
            method: "GET",
            error: function () {
                toastr["error"]("Server chưa được bật !");
            },
            success: function (data) {
                $.each(data.ThuongHieu, function (i, item) {
                    var html_to_append =
                        '<tr id="THitem' + item.ID_ThuongHieu + '">' +
                        '<th scope="row">' + item.ID_ThuongHieu + '</th>' +
                        '<td>' + item.TenThuongHieu.Ten + '</td>' +
                        '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_ThuongHieu + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_ThuongHieu + '"> Xóa </div></td>' +
                        '</tr>';
                    $("#tableTH").append(html_to_append);
                });
            },
        });
    }
    //Thêm thương hiệu
    function ThemThuongHieu() {
        $.ajax({
            url: "<%= domain %>/ThuongHieus/" + $("#TenThuongHieu").val() + "?token=" + $.cookie("token"),
            method: "POST",
            error: function () {
                toastr["error"]("Tên thương hiệu không được trống !");
            },
            success: function (data) {
                if (data.status == "ok") {
                    $("#tableTH").fadeOut();
                    $("#tableTH").empty();
                    LoadThuongHieu();
                    $("#tableTH").fadeIn();
                    $('#modalThem').modal('toggle');
                    var Html_Modal_SuaTH =
                        ' <div  class="modal fade modalSuaMoi" id="modalSua' + data.idTH + '">' +
                        '   <div class="modal-dialog modal-lg modal-lg modal-sm">' +
                        '    <div class="modal-content">' +
                        '  <div class="modal-header">' +
                        ' <h4 class="modal-title"><i class="fas fa-store"></i> Sửa thương hiệu</h4>' +
                        ' <button type="button" class="close" data-dismiss="modal">&times;</button>' +
                        '   </div>' +
                        ' <div class="modal-body">' +
                        '    <form  class="was-validated">' +
                        '  <div class="form-group">' +
                        '   <label for="TenThuongHieu' + data.idTH + '">Tên thương hiệu</label>' +
                        '  <input type="text" class="form-control tenMoi"  id="TenThuongHieu' + data.idTH + '" placeholder="Nhập tên thương hiệu" value="' + data.tenTH + '" required>' +
                        '   </div>' +
                        '   </form>' +
                        '   </div>' +
                        '   <div class="modal-footer">' +
                        '  <label id="' + data.idTH + '" class="btn btn-success btnSuaMoi" >Xác nhận </label>' +
                        ' <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>' +
                        '  </div>' +
                        '   </div>' +
                        '  </div>' +
                        '  </div>';
                    $("#DanhSachModalSua").append(Html_Modal_SuaTH);
                    var Html_Modal_XoaTH =
                        '<div class="modal fade" id="modalXoa' + data.idTH + '">' +
                        ' <div class="modal-dialog modal-sm">' +
                        '     <div class="modal-content">' +
                        '     <!-- Modal Header -->' +
                        '  <div class="modal-header">' +
                        '   <h4 class="modal-title"><i class="fas fa-store"></i> Xóa thương hiệu</h4>' +
                        ' <button type="button" class="close" data-dismiss="modal">&times;</button>' +
                        '   </div>' +
                        '  <div class="modal-body">' +
                        '   Bạn có thực sự muốn xóa thương hiệu này, tất cả sản phẩm thuộc thương hiệu này sẽ bị xóa. Thao tác này không thể hoàn tác ?' +
                        '     </div>' +
                        '  <div class="modal-footer">' +
                        '  <label id="' + data.idTH + '" class="btn btn-success btnXoaMoi">Xác nhận</label>' +
                        '  <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>' +
                        '   </div>' +
                        ' </div>' +
                        '   </div>' +
                        '     </div>';
                    $("#DanhSachModalXoa").append(Html_Modal_XoaTH);
                    toastr["success"](data.message);
                    TongItem++;
                    page=1;
                    TaiLaiPagination();
                    ResetDataSauKhiCreate();
                } else {
                    toastr["error"](data.message);
                }
            }
        });
       /* SoTrang ++;*/
        return;
    }
    function ResetDataSauKhiCreate() {
        $("#TenThuongHieu").val("");
    }

    //Sự kiện nút sửa của những thương hiệu được add bằng ajax
    $('body').on('click', '.btnSuaMoi', function () {
        var modal = $(this).parent().parent().parent().parent(".modal").attr("id");
        $.ajax({
            url: "<%= domain %>/ThuongHieus/" + $(this).attr("id") + "/" + $(this).parent().parent().find(".tenMoi").val() + "?token=" + $.cookie("token"),
            method: "PUT",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                if (data.status == "ok") {
                    $("#" + modal).modal('toggle');
                    $("#tableTH").fadeOut();
                    $("#tableTH").empty();
                    LoadThuongHieu();
                    $("#tableTH").fadeIn();
                    TaiLaiPagination();
                    toastr["success"](data.message);
                } else {
                    toastr["error"](data.message);
                }
            }
        });
    });

    //Sự kiện nút xóa của những thương hiệu được add bằng ajax
    $('body').on('click', '.btnXoaMoi', function () {
        var modal = $(this).parent().parent().parent().parent(".modal").attr("id");
        var IDmodal = $(this).attr("id");
        $.ajax({
            url: "<%= domain %>/ThuongHieus/" + $(this).attr("id") + "?token=" + $.cookie("token"),
            method: "DELETE",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                if (data.status == "ok") {
                    $("#" + modal).modal('toggle');
                    $("#tableTH").fadeOut();
                    $("#tableTH").empty();
                    LoadThuongHieu();
                    $("#tableTH").fadeIn();
                    TaiLaiPagination();
                    toastr["success"](data.message);
                    TongItem--;
                    page =1;
                    TaiLaiPagination();

                } else {
                    toastr["error"](data.message);
                }
            }
        });
        /*SoTrang --;*/
        return;
    });
</script>
<script>
    //Khai báo biến
    var TongItem = "<%=tongItem%>";
    var SoItemMoiPage ="<%=itemMoiPage%>";
    var page = 1;
    var SoTrang = "<%=soTrang %>";

    //Sự kiện trang trước
    $('body').on('click', '#pagiTruoc', function () {
        if (page == 1) {
            $("#pagiTruoc").addClass("disabled");
            return false;
        } else {
            $(".page-item").removeClass("active");
            $("#subpagi" + (page - 1)).addClass("active");
            $.ajax({
                url: "<%= domain %>/ThuongHieus/" + (page - 1) + "?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    toastr["error"]("Tên thương hiệu không được để trống !");
                },
                success: function (data) {
                    $("#tableTH").empty();
                    $.each(data.ThuongHieu, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="THitem' + item.ID_ThuongHieu + '">' +
                            '<th scope="row">' + item.ID_ThuongHieu + '</th>' +
                            '<td>' + item.TenThuongHieu.Ten + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_ThuongHieu + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_ThuongHieu + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableTH").append(html_to_append);
                    });
                }
            });
            page = page - 1;
            $("#pagiSau").removeClass("disabled");
            if (page == 1) {
                $("#pagiTruoc").addClass("disabled");
            }
            return false;
        }
    });
    //Sự kiện trang sau
    $('body').on('click', '#pagiSau', function () {
        if (page == SoTrang) {
            $("#pagiSau").addClass("disabled");
            return false;
        } else {
            $(".page-item").removeClass("active");
            $("#subpagi" + (page + 1)).addClass("active");
            $("#pagiTruoc").removeClass("disabled");
            $.ajax({
                url: "<%= domain %>/ThuongHieus/" + (page + 1) + "?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function (data) {
                    $("#tableTH").empty();
                    $.each(data.ThuongHieu, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="THitem' + item.ID_ThuongHieu + '">' +
                            '<th scope="row">' + item.ID_ThuongHieu + '</th>' +
                            '<td>' + item.TenThuongHieu.Ten + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_ThuongHieu + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_ThuongHieu + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableTH").append(html_to_append);
                    });
                }
            });
            page = page + 1;
            return false;
        }
    });

    ClickVaoCacTrang();
    function ClickVaoCacTrang() {
        <% for (i = 1;i <= soTrangLocal;i++){ %>
        $("<%= "#subpagi" + i %>").click(function () {
            $(".page-item").removeClass("active");
            $("#pagiSau").removeClass("disabled");
            $("<%= "#subpagi" + i %>").addClass("active");
            $.ajax({
                url: "<%= domain %>/ThuongHieus/" + <%= i %> +"?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    toastr["error"]("Lỗi hệ thống !");
                },
                success: function (data) {
                    $("#tableTH").empty();
                    $.each(data.ThuongHieu, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="THitem' + item.ID_ThuongHieu + '">' +
                            '<th scope="row">' + item.ID_ThuongHieu + '</th>' +
                            '<td>' + item.TenThuongHieu.Ten + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_ThuongHieu + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_ThuongHieu + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableTH").append(html_to_append);
                    });
                }
            });
            <%= "page=" + i %>;
            if (page != 1) {
                $("#pagiTruoc").removeClass("disabled");
            }
            return false;
        });
        <% } %>
    }
    function TaiLaiPagination() {
        var SoTrangPagi  = Math.ceil(TongItem/SoItemMoiPage);
        SoTrang = SoTrangPagi;
        $(".menu-phantrang").empty();
        $(".menu-phantrang").append(' <li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>');
        for (i = 1; i <= SoTrangPagi; i++) {
            var html_pagi =
                '  <li id="subpagi' + i + '" class="d-inline page-item pagesubitem active"><a class="page-link" href="#">' + i + '</a>';
            $(".menu-phantrang").append(html_pagi);
        }
        $(".menu-phantrang").append(' <li id="pagiSau" class="page-item "><a class="page-link" href="#">Sau</a></li>');
        $(".pagesubitem").removeClass("active");
        $(".pagesubitem:first").addClass("active");
        ClickVaoCacTrang();
    }
</script>
<script>
    $(document).ready(function () {
        $("#btnTimKiem").click(function () {

            $.ajax({
                url: "<%= domain %>/ThuongHieus/timtheoten/"+$("#inputTK").val()+"?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    toastr["error"]("Tên thương hiệu không được để trống !");
                },
                success: function (data) {
                    $("#tableTH").empty();
                    $.each(data.Items, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="THitem' + item.ID_ThuongHieu + '">' +
                            '<th scope="row">' + item.ID_ThuongHieu + '</th>' +
                            '<td>' + item.TenThuongHieu.Ten + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_ThuongHieu + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_ThuongHieu + '"> Xóa </div><td>' +
                            '</tr>';
                        $("#tableTH").append(html_to_append);

                    });
                }
            });
            return false;
        });
    });

</script>