<% layout('../Layout/layoutAdmin.ejs') -%>
<div class="container">
    <div class="row-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin"><i class="fas fa-store"></i> HQKStore Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cấu hình hệ thống</li>
            </ol>
        </nav>
    </div>

    <br><br>

    <div class="container">
        <img src="<%=urlLoading%>" class="loadingDiv" alt="loadingIcon">
        <!-- Số sản phẩm/trang -->
        <form>
            <div class="form-group form-inline">
                <label for="email" class="col-sm-3">Số sản phẩm/trang:</label>
                <input class="form-control col-sm-6 value" value="<%= soSanPhamPMoiPage %>" >

                <div class="col-sm-1">
                    <div id="SoSanPhamMoiTrang" class="btn btn-success btnXacNhan" >Xác nhận</div>
                </div>
            </div>
        </form>

        <!-- Số item/trang Admin -->
        <form>
            <div class="form-group form-inline">
                <label for="email" class="col-sm-3">Số item/trang Admin:</label>
                <input class="form-control col-sm-6 value" value="<%= soItemMoiPageQL %>" >

                <div class="col-sm-1">
                    <div id="SoItemMoiTrangQL" class="btn btn-success btnXacNhan" >Xác nhận</div>
                </div>
            </div>
        </form>

        <!-- Thời gian login -->
        <form>
            <div class="form-group form-inline">
                <label for="email" class="col-sm-3">Thời gian login:</label>
                <input class="form-control col-sm-6 value" value="<%= thoiGianLogin %>" >

                <div class="col-sm-1">
                    <div id="ThoiGianLogin" class="btn btn-success btnXacNhan" >Xác nhận</div>
                </div>
            </div>
        </form>

        <!-- Secret key -->
        <form>
            <div class="form-group form-inline">
                <label for="email" class="col-sm-3">Secret key:</label>
                <input class="form-control col-sm-6 value" value="<%= secretKeyAdmin %>" >

                <div class="col-sm-1">
                    <div id="SecrectKey" class="btn btn-success btnXacNhan">Xác nhận</div>
                </div>
            </div>
        </form>
    </div>
    <div id="info"></div>
</div>


<script>
    var tranThai;
    $('body').on('click', '.btnSua', function () {
        $(".value").prop("disabled", true);
        $(".btnXacNhan").prop("disabled", true);
        $(this).parent().parent().find(".value").prop("disabled", false);
        $(this).parent().parent().find(".btnXacNhan").prop("disabled", false);
    });
    $('body').on('click', '.btnXacNhan', function () {
        tranThai =$(this).attr("id");
        var url = "<%= domain %>/CaiDats/" +$(this).attr("id")+"?thamso="+ $(this).parent().parent().find(".value").val() + "&token=" + $.cookie("token");
        $.ajax({
            url: url,
            method: "PUT",
            error: function (err) {
                toastr["error"]("Thông tin không được trống !");
            },
            success: function (data) {
                if (data.status == "ok") {
                    toastr["success"](data.message);
                     // $(".btnXacNhan").prop("disabled", true);
                     // $(".value").prop("disabled", true);

                    if(tranThai == "SecrectKey"){
                        window.location.replace("/Admin/QuanLyCaiDatCauHinh");
                    }

                } else {
                    toastr["error"](data.message);
                }
            }
        });

    });

</script>
