<% layout('../Layout/layoutAdmin.ejs') -%>
<div class="container">
    <div class="row-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin"><i class="fas fa-store"></i> HQKStore Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý Mã giảm giá</li>
            </ol>
        </nav>
    </div>
    <div class="row-fluid">
        <div>
            <button type="button" class="col-12 col-lg-3 btn btn-primary d-inline " data-toggle="modal" data-target="#modalThem">
                Thêm mã giảm giá
            </button>
            <form class="form-inline ml-auto d-inline float-right ">
                <input id="inputTK" class="form-control " type="search" placeholder="Nhập tên mã giảm giá"
                       aria-label="Search">
                <button id="btnTimKiem" class="btn btn-outline-success " type="submit">Tìm kiếm</button>
            </form>
        </div>
    </div>

    <br><br>

    <div class="table-responsive">
        <table class="table table-hover">
            <img src="<%=urlLoading%>" class="loadingDiv" alt="loadingIcon">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên mã giảm giá</th>
                <th scope="col">Tỉ Lệ sale</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Thao tác</th>
            </tr>
            </thead>
            <tbody id="tableMGG">


            <!--Mã giảm giá được load vào đây-->

            </tbody>
        </table>
    </div>

    <div id="info"></div>
    <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination menu-phantrang">
            <li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>

            <% for (i = 1;i <= soTrang;i++){ %>
                <% if(i == 1){ %>
                    <li id="<%= "subpagi" + i %>" class="d-inline page-item active pagesubitem"><a class="page-link"
                                                                                                   href="#"> <%= i %></a>
                    </li>
                <% }else{ %>
                    <li id="<%= "subpagi" + i %>" class="d-inline page-item pagesubitem"><a class="page-link "
                                                                                            href="#"> <%= i %></a></li>
                <% } %>
            <% } %>

            <li id="pagiSau" class="page-item"><a class="page-link" href="#">Sau</a></li>
        </ul>
    </nav>
</div>

<!-- Modal Thêm mã giảm giá-->
<div class="modal fade" id="modalThem">
    <div class="modal-dialog modal-lg modal-lg modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-store"></i> Thêm mã giảm giá</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="was-validated">
                    <div class="form-group">
                        <label for="TenMaGiamGia">Tên mã giảm giá</label>
                        <input type="text" class="form-control" id="TenMaGiamGia" placeholder="Nhập tên mã giảm giá"
                               name="uname" onkeydown="EnterThemMGG()" required>
                    </div>
                    <div class="form-group">
                        <label for="TiLeSaleGiamGia">Tỉ lệ sales</label>
                        <input type="text" class="form-control" id="TiLeSaleGiamGia" placeholder="Nhập tỉ lệ sales"
                               name="uname" onkeydown="EnterThemMGG()" required>
                    </div>
                    <div class="form-group">
                        <label for="SoLuongGiamGia">Số lượng</label>
                        <input type="text" class="form-control" id="SoLuongGiamGia" placeholder="Nhập số lượng"
                               name="uname" onkeydown="EnterThemMGG()" required>
                    </div>

                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <label class="btn btn-success" onclick="ThemMaGiamGia()">Xác nhận</label>
                <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
            </div>

        </div>
    </div>
</div>

<script>
    function EnterThemMGG() {
        if (event.key === 'Enter') {
            ThemMaGiamGia();
            return false;
        }
    }
</script>

<!-- Danh sách Modal Sửa mã giảm giá-->
<div id="DanhSachModalSua">
    <% dataMGG.forEach(function (item) { %>
        <div class="modal fade" id="modalSua<%= item.ID_MaGiamGia %>">
            <div class="modal-dialog modal-lg modal-lg modal-sm">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-store"></i> Sửa mã giảm giá</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="was-validated">
                            <div class="form-group">
                                <label for="TenMaGiamGia<%= item.ID_MaGiamGia %>">Tên mã giảm giá</label>
                                <input type="text" class="form-control tenMoi" id="TenMaGiamGia<%= item.ID_MaGiamGia %>"
                                       placeholder="Nhập tên mã giảm giá" value="<%= item.TenMaGiamGia %>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="TiLeSaleGiamGia<%= item.ID_MaGiamGia %>">Tỉ lệ sales</label>
                                <input type="text" class="form-control  TiLeSaleMoi"
                                       id="TiLeSaleGiamGia<%= item.ID_MaGiamGia %>"
                                       placeholder="Nhập tỉ lệ sales" value="<%= item.TiLeSale %>" required>
                            </div>
                            <div class="form-group">
                                <label for="SoLuongGiamGia<%= item.ID_MaGiamGia %>">Số lượng</label>
                                <input type="text" class="form-control SoLuongMoi"
                                       id="SoLuongGiamGia<%= item.ID_MaGiamGia %>"
                                       placeholder="Nhập số lượng" value="<%= item.SoLuong %>" required>
                            </div>
                        </form>

                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <label id="<%= item.ID_MaGiamGia %>" class="btn btn-success btnSuaMoi">Xác nhận</label>
                        <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
</div>
<!-- Danh sách Modal Xóa mã giảm giá-->
<div id="DanhSachModalXoa">
    <% dataMGG.forEach(function (item) { %>
        <div class="modal fade" id="modalXoa<%= item.ID_MaGiamGia %>">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-store"></i> Xóa mã giảm giá</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Bạn có thực sự muốn xóa mã giảm giá này, thao tác này không thể hoàn tác ?
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <label id="<%= item.ID_MaGiamGia %>" class="btn btn-success btnXoaMoi">Xác nhận</label>
                        <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<script>

    //Load danh sách mã giảm giá
    LoadMaGiamGia();

    function LoadMaGiamGia() {
        $.ajax({
            url: "<%= domain %>/MaGiamGias/1?token=" + $.cookie("token"),
            method: "GET",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                $.each(data.MaGiamGia, function (i, item) {
                    var html_to_append;
                    html_to_append +=
                        '<tr id="MGGitem' + item.ID_MaGiamGia + '">' +
                        '<th scope="row">' + item.ID_MaGiamGia + '</th>' +
                        '<td>' + item.TenMaGiamGia + '</td>' +
                        '<td>' + item.TiLeSale + ' %</td>' +
                        '<td>' + item.SoLuong + '</td>' +
                        '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_MaGiamGia + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_MaGiamGia + '"> Xóa </div></td>' +
                        '</tr>';
                    $("#tableMGG").append(html_to_append);
                });
            },
        });
    }

    //Thêm mã giảm giá
    function ThemMaGiamGia() {
        $.ajax({
            url: "<%= domain %>/magiamgias/" + $("#TenMaGiamGia").val() + "/" + $("#TiLeSaleGiamGia").val() + "/" + $("#SoLuongGiamGia").val() + "?token=" + $.cookie("token"),
            method: "POST",
            error: function () {
                toastr["error"]("Vui lòng điền đầy đủ thông tin !");
            },
            success: function (data) {
                if (data.status == "ok") {
                    $("#tableMGG").fadeOut();
                    $("#tableMGG").empty();
                    LoadMaGiamGia();
                    $("#tableMGG").fadeIn();
                    $('#modalThem').modal('toggle');
                    var Html_Modal_SuaMGG =
                        ' <div  class="modal fade modalSuaMoi" id="modalSua' + data.idMGG + '">' +
                        '   <div class="modal-dialog modal-lg modal-lg modal-sm">' +
                        '    <div class="modal-content">' +
                        '  <div class="modal-header">' +
                        ' <h4 class="modal-title"><i class="fas fa-store"></i> Sửa mã giảm giá</h4>' +
                        ' <button type="button" class="close" data-dismiss="modal">&times;</button>' +
                        '   </div>' +
                        ' <div class="modal-body">' +
                        '    <form  class="was-validated">' +
                        '  <div class="form-group">' +
                        '   <label for="TenMaGiamGia' + data.idMGG + '">Tên mã giảm giá</label>' +
                        '  <input type="text" class="form-control tenMoi"  id="TenMaGiamGia' + data.idMGG + '" placeholder="Nhập tên mã giảm giá" value="' + data.tenMGG + '" disabled>' +
                        '   </div>' +
                        ' <div class="form-group">' +
                        ' <div class="form-group">' +
                        ' <label for="TiLeSaleGiamGia' + data.idMGG + '">Tỉ lệ sales</label>' +
                        ' <input type="text" class="form-control  TiLeSaleMoi" id="TiLeSaleGiamGia' + data.idMGG + '"' +
                        '     placeholder="Nhập tỉ lệ sales" value="' + data.tiLeSale + '" required>' +
                        '    </div>' +
                        '     <div class="form-group">' +
                        '  <label for="SoLuongGiamGia' + data.idMGG + '">Số lượng</label>' +
                        '   <input type="text" class="form-control SoLuongMoi" id="SoLuongGiamGia' + data.idMGG + '"' +
                        '   placeholder="Nhập số lượng" value="' + data.soLuong + '" required>' +
                        ' </div>' +
                        '   </form>' +
                        '   </div>' +
                        '   <div class="modal-footer">' +
                        '  <label id="' + data.idMGG + '" class="btn btn-success btnSuaMoi" >Xác nhận </label>' +
                        ' <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>' +
                        '  </div>' +
                        '   </div>' +
                        '  </div>' +
                        '  </div>';
                    $("#DanhSachModalSua").append(Html_Modal_SuaMGG);
                    var Html_Modal_XoaMGG =
                        '<div class="modal fade" id="modalXoa' + data.idMGG + '">' +
                        ' <div class="modal-dialog modal-sm">' +
                        '     <div class="modal-content">' +
                        '     <!-- Modal Header -->' +
                        '  <div class="modal-header">' +
                        '   <h4 class="modal-title"><i class="fas fa-store"></i> Xóa mã giảm giá</h4>' +
                        ' <button type="button" class="close" data-dismiss="modal">&times;</button>' +
                        '   </div>' +
                        '  <div class="modal-body">' +
                        '    Bạn có thực sự muốn xóa mã giảm giá này, thao tác này không thể hoàn tác ?' +
                        '     </div>' +
                        '  <div class="modal-footer">' +
                        '  <label id="' + data.idMGG + '" class="btn btn-success btnXoaMoi">Xác nhận</label>' +
                        '  <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>' +
                        '   </div>' +
                        ' </div>' +
                        '   </div>' +
                        '     </div>';
                    $("#DanhSachModalXoa").append(Html_Modal_XoaMGG);
                    toastr["success"](data.message);
                    TongItem++;
                    page = 1;
                    TaiLaiPagination();
                    ResetDataSauKhiCreate();
                } else {
                    toastr["error"](data.message);
                }
            }
        });
        /*  SoTrang ++;*/
        return false;
    }
    function ResetDataSauKhiCreate() {
        $("#TenMaGiamGia").val("");
        $("#TiLeSaleGiamGia").val("");
        $("#SoLuongGiamGia").val("");


    }

    //Sự kiện nút sửa của những mã giảm giá được add bằng ajax
    $('body').on('click', '.btnSuaMoi', function () {
        var modal = $(this).parent().parent().parent().parent(".modal").attr("id");
        var tiLeSalMoi = $(this).parent().parent().find(".TiLeSaleMoi").val();
        var soLuongMoi = $(this).parent().parent().find(".SoLuongMoi").val();
        // alert($(this).parent().parent().find(".TiLeSaleMoi").val());
        // alert($(this).parent().parent().find(".SoLuongMoi").val());
        $.ajax({
            url: "<%= domain %>/magiamgias/" + $(this).attr("id") + "/" + tiLeSalMoi + "/" + soLuongMoi + "?token=" + $.cookie("token"),
            method: "PUT",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                if (data.status == "ok") {
                    $("#" + modal).modal('toggle');
                    $("#tableMGG").fadeOut();
                    $("#tableMGG").empty();
                    LoadMaGiamGia();
                    $("#tableMGG").fadeIn();
                    TaiLaiPagination();
                    toastr["success"](data.message);
                } else {
                    toastr["error"](data.message);
                }
            }
        });
        return false;
    });

    //Sự kiện nút xóa của những mã giảm giá được add bằng ajax
    $('body').on('click', '.btnXoaMoi', function () {
        var modal = $(this).parent().parent().parent().parent(".modal").attr("id");
        var IDmodal = $(this).attr("id");
        $.ajax({
            url: "<%= domain %>/magiamgias/" + $(this).attr("id") + "?token=" + $.cookie("token"),
            method: "DELETE",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                if (data.status == "ok") {
                    $("#" + modal).modal('toggle');
                    $("#tableMGG").fadeOut();
                    $("#tableMGG").empty();
                    LoadMaGiamGia();
                    $("#tableMGG").fadeIn();
                    TaiLaiPagination();
                    toastr["success"](data.message);
                    TongItem--;
                    page = 1;
                    TaiLaiPagination();


                } else {
                    toastr["error"](data.message);
                }
            }
        });
        return false;
    });


</script>
<script>
    //Khai báo biến
    var TongItem = "<%= tongItem %>";
    var SoItemMoiPage = "<%= itemMoiPage %>";
    var page = 1;
    var SoTrang = "<%= soTrang %>";

    //Sự kiện trang trước
    $('body').on('click', '#pagiTruoc', function () {
        if (page == 1) {
            $("#pagiTruoc").addClass("disabled");
            return false;
        } else {
            $(".page-item").removeClass("active");
            $("#subpagi" + (page - 1)).addClass("active");
            $.ajax({
                url: "<%= domain %>/MaGiamGias/" + (page - 1) + "?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function (data) {
                    $("#tableMGG").empty();
                    $.each(data.MaGiamGia, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="MGGitem' + item.ID_MaGiamGia + '">' +
                            '<th scope="row">' + item.ID_MaGiamGia + '</th>' +
                            '<td>' + item.TenMaGiamGia + '</td>' +
                            '<td>' + item.TiLeSale + ' %</td>' +
                            '<td>' + item.SoLuong + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_MaGiamGia + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_MaGiamGia + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableMGG").append(html_to_append);
                    });
                }
            });
            page = page - 1;
            $("#pagiSau").removeClass("disabled");
            if (page == 1) {
                $("#pagiTruoc").addClass("disabled");
            }
            return false;
        }
    });
    //Sự kiện trang sau
    $('body').on('click', '#pagiSau', function () {
        if (page == SoTrang) {
            $("#pagiSau").addClass("disabled");
            return false;
        } else {
            $(".page-item").removeClass("active");
            $("#subpagi" + (page + 1)).addClass("active");
            $("#pagiTruoc").removeClass("disabled");
            $.ajax({
                url: "<%= domain %>/MaGiamGias/" + (page + 1) + "?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function (data) {
                    $("#tableMGG").empty();
                    $.each(data.MaGiamGia, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="MGGitem' + item.ID_MaGiamGia + '">' +
                            '<th scope="row">' + item.ID_MaGiamGia + '</th>' +
                            '<td>' + item.TenMaGiamGia + '</td>' +
                            '<td>' + item.TiLeSale + ' %</td>' +
                            '<td>' + item.SoLuong + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_MaGiamGia + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_MaGiamGia + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableMGG").append(html_to_append);
                    });
                }
            });
            page = page + 1;
            return false;
        }
    });

    ClickVaoCacTrang();

    function ClickVaoCacTrang() {
        <% for (i = 1;i <= soTrangLocal;i++){ %>
        $("<%= "#subpagi" + i %>").click(function () {
            $(".page-item").removeClass("active");
            $("#pagiSau").removeClass("disabled");
            $("<%= "#subpagi" + i %>").addClass("active");
            $.ajax({
                url: "<%= domain %>/MaGiamGias/" + <%= i %> +"?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function (data) {
                    $("#tableMGG").empty();
                    $.each(data.MaGiamGia, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="MGGitem' + item.ID_MaGiamGia + '">' +
                            '<th scope="row">' + item.ID_MaGiamGia + '</th>' +
                            '<td>' + item.TenMaGiamGia + '</td>' +
                            '<td>' + item.TiLeSale + ' %</td>' +
                            '<td>' + item.SoLuong + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_MaGiamGia + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_MaGiamGia + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableMGG").append(html_to_append);
                    });
                }
            });
            <%= "page=" + i %>;
            if (page != 1) {
                $("#pagiTruoc").removeClass("disabled");
            }
            return false;
        });
        <% } %>
    }

    function TaiLaiPagination() {
        var SoTrangPagi = Math.ceil(TongItem / SoItemMoiPage);
        SoTrang = SoTrangPagi;
        $(".menu-phantrang").empty();
        $(".menu-phantrang").append(' <li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>');
        for (i = 1; i <= SoTrangPagi; i++) {
            var html_pagi =
                '  <li id="subpagi' + i + '" class="d-inline page-item pagesubitem active"><a class="page-link" href="#">' + i + '</a>';
            $(".menu-phantrang").append(html_pagi);
        }
        $(".menu-phantrang").append(' <li id="pagiSau" class="page-item "><a class="page-link" href="#">Sau</a></li>');
        $(".pagesubitem").removeClass("active");
        $(".pagesubitem:first").addClass("active");
        ClickVaoCacTrang();
    }
</script>
<script>
    $(document).ready(function () {
        $("#btnTimKiem").click(function () {

            $.ajax({
                url: "<%= domain %>/magiamgias/timtheoten/" + $("#inputTK").val() + "?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function (data) {
                    $("#tableMGG").empty();
                    $.each(data.Items, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="MGGitem' + item.ID_MaGiamGia + '">' +
                            '<th scope="row">' + item.ID_MaGiamGia + '</th>' +
                            '<td>' + item.TenMaGiamGia + '</td>' +
                            '<td>' + item.TiLeSale + ' %</td>' +
                            '<td>' + item.SoLuong + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_MaGiamGia + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_MaGiamGia + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableMGG").append(html_to_append);

                    });
                }
            });
            return false;
        });
    });

</script>