<% layout('../Layout/layoutAdmin.ejs') -%>
<div class="container">
    <div class="row-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin"><i class="fas fa-store"></i> HQKStore Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">Quản lý Danh mục</li>
            </ol>
        </nav>
    </div>
    <div class="row-fluid">
        <div>
            <button type="button" class="col-12 col-lg-3 btn btn-primary d-inline " data-toggle="modal" data-target="#modalThem">
                Thêm danh mục
            </button>
            <form class="form-inline ml-auto d-inline float-right ">
                <input id="inputTK" class="form-control " type="search" placeholder="Nhập tên danh mục" aria-label="Search">
                <button id="btnTimKiem" class="btn btn-outline-success " type="submit">Tìm kiếm</button>
            </form>
        </div>
    </div>

    <br><br>
    <div class="table-responsive">
        <table class="table table-hover">
            <img src="<%=urlLoading%>" class="loadingDiv" alt="loadingIcon">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Tên danh mục</th>
                <th scope="col">Thao tác</th>
            </tr>
            </thead>
            <tbody id="tableDM">


            <!--Danh mục được load vào đây-->

            </tbody>
        </table>
    </div>

    <div id="info"></div>
    <!--Pagination-->
    <nav aria-label="Page navigation example">
        <ul class="pagination menu-phantrang">
            <li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>

            <% for (i = 1;i <= soTrang;i++){ %>
                <% if(i == 1){ %>
                    <li id="<%= "subpagi" + i %>" class="d-inline page-item active pagesubitem"><a class="page-link"
                                                                                                   href="#"> <%= i %></a>
                    </li>
                <% }else{ %>
                    <li id="<%= "subpagi" + i %>" class="d-inline page-item pagesubitem"><a class="page-link "
                                                                                            href="#"> <%= i %></a></li>
                <% } %>
            <% } %>

            <li id="pagiSau" class="page-item"><a class="page-link" href="#">Sau</a></li>
        </ul>
    </nav>
</div>

<!-- Modal Thêm danh mục-->
<div class="modal fade" id="modalThem">
    <div class="modal-dialog modal-lg modal-lg modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fas fa-store"></i> Thêm danh mục</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form class="was-validated">
                    <div class="form-group">
                        <label for="TenDanhMuc">Tên danh mục</label>
                        <input type="text" class="form-control" id="TenDanhMuc" placeholder="Nhập tên danh mục"
                               name="uname" onkeydown="EnterThemDM()" required>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <label class="btn btn-success" onclick="ThemDanhMuc()">Xác nhận</label>
                <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
            </div>

        </div>
    </div>
</div>

<script>

    function EnterThemDM() {
        if (event.key === 'Enter') {
            ThemDanhMuc();
            return false;
        }
    }
</script>

<!-- Danh sách Modal Sửa danh mục-->
<div id="DanhSachModalSua">
    <% dataDM.forEach(function (item) { %>
        <div class="modal fade" id="modalSua<%= item.ID_DanhMuc %>">
            <div class="modal-dialog modal-lg modal-lg modal-sm">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-store"></i> Sửa danh mục</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form class="was-validated">
                            <div class="form-group">
                                <label for="TenDanhMuc<%= item.ID_DanhMuc %>">Tên danh mục</label>
                                <input type="text" class="form-control tenMoi" id="TenDanhMuc<%= item.ID_DanhMuc %>"
                                       placeholder="Nhập tên danh mục" value="<%= item.TenDanhMuc.Ten %>" required>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <label id="<%= item.ID_DanhMuc %>" class="btn btn-success btnSuaMoi">Xác nhận</label>
                        <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
</div>
<!-- Danh sách Modal Xóa danh mục-->
<div id="DanhSachModalXoa">
    <% dataDM.forEach(function (item) { %>
        <div class="modal fade" id="modalXoa<%= item.ID_DanhMuc %>">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-store"></i> Xóa danh mục</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Bạn có thực sự muốn xóa danh mục này, tất cả sản phẩm thuộc danh mục này sẽ bị xóa. Thao tác này không thể hoàn tác ?
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <label id="<%= item.ID_DanhMuc %>" class="btn btn-success btnXoaMoi">Xác nhận</label>
                        <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<script>

    //Load danh sách danh mục
    LoadDanhMuc();
    function LoadDanhMuc() {
        $.ajax({
            url: "<%= domain %>/DanhMucs/1?token=" + $.cookie("token"),
            method: "GET",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                $.each(data.DanhMuc, function (i, item) {
                    var html_to_append =
                        '<tr id="DMitem' + item.ID_DanhMuc + '">' +
                        '<th scope="row">' + item.ID_DanhMuc + '</th>' +
                        '<td>' + item.TenDanhMuc.Ten + '</td>' +
                        '<td><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_DanhMuc + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_DanhMuc + '"> Xóa </div></td>' +
                        '</tr>';
                    $("#tableDM").append(html_to_append);
                });
            },
        });
    }

    //Thêm danh mục
    function ThemDanhMuc() {
        $.ajax({
            url: "<%= domain %>/danhmucs/" + $("#TenDanhMuc").val() + "?token=" + $.cookie("token"),
            method: "POST",
            error: function () {
                toastr["error"]("Tên danh mục không được trống !");
            },
            success: function (data) {
                if (data.status == "ok") {

                    $("#tableDM").fadeOut();
                    $("#tableDM").empty();
                    LoadDanhMuc();
                    $("#tableDM").fadeIn();
                    $('#modalThem').modal('toggle');
                    var Html_Modal_SuaDM =
                        ' <div  class="modal fade modalSuaMoi" id="modalSua' + data.idDM + '">' +
                        '   <div class="modal-dialog modal-lg modal-lg modal-sm">' +
                        '    <div class="modal-content">' +
                        '  <div class="modal-header">' +
                        ' <h4 class="modal-title"><i class="fas fa-store"></i> Sửa danh mục</h4>' +
                        ' <button type="button" class="close" data-dismiss="modal">&times;</button>' +
                        '   </div>' +
                        ' <div class="modal-body">' +
                        '    <form  class="was-validated">' +
                        '  <div class="form-group">' +
                        '   <label for="TenDanhMuc' + data.idDM + '">Tên danh mục</label>' +
                        '  <input type="text" class="form-control tenMoi"  id="TenDanhMuc' + data.idDM + '" placeholder="Nhập tên danh mục" value="' + data.tenDM + '" required>' +
                        '   </div>' +
                        '   </form>' +
                        '   </div>' +
                        '   <div class="modal-footer">' +
                        '  <label id="' + data.idDM + '" class="btn btn-success btnSuaMoi" >Xác nhận </label>' +
                        ' <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>' +
                        '  </div>' +
                        '   </div>' +
                        '  </div>' +
                        '  </div>';
                    $("#DanhSachModalSua").append(Html_Modal_SuaDM);
                    var Html_Modal_XoaDM =
                        '<div class="modal fade" id="modalXoa' + data.idDM + '">' +
                        ' <div class="modal-dialog modal-sm">' +
                        '     <div class="modal-content">' +
                        '     <!-- Modal Header -->' +
                        '  <div class="modal-header">' +
                        '   <h4 class="modal-title"><i class="fas fa-store"></i> Xóa danh mục</h4>' +
                        ' <button type="button" class="close" data-dismiss="modal">&times;</button>' +
                        '   </div>' +
                        '  <div class="modal-body">' +
                        '    Bạn có thực sự muốn xóa danh mục này, tất cả sản phẩm thuộc danh mục này sẽ bị xóa. Thao tác này không thể hoàn tác ?' +
                        '     </div>' +
                        '  <div class="modal-footer">' +
                        '  <label id="' + data.idDM + '" class="btn btn-success btnXoaMoi">Xác nhận</label>' +
                        '  <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>' +
                        '   </div>' +
                        ' </div>' +
                        '   </div>' +
                        '     </div>';
                    $("#DanhSachModalXoa").append(Html_Modal_XoaDM);
                    toastr["success"](data.message);
                    TongItem++;
                    page = 1;
                    TaiLaiPagination();
                    ResetDataSauKhiCreate();
                } else {
                    toastr["error"](data.message);
                }
            }
        });
        return false;
    }
    function ResetDataSauKhiCreate() {
        $("#TenDanhMuc").val("");
    }


    //Sự kiện nút sửa của những danh mục được add bằng ajax
    $('body').on('click', '.btnSuaMoi', function () {
        var modal = $(this).parent().parent().parent().parent(".modal").attr("id");
        $.ajax({
            url: "<%= domain %>/danhmucs/" + $(this).attr("id") + "/" + $(this).parent().parent().find(".tenMoi").val() + "?token=" + $.cookie("token"),
            method: "PUT",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                if (data.status == "ok") {
                    $("#" + modal).modal('toggle');
                    $("#tableDM").fadeOut();
                    $("#tableDM").empty();
                    LoadDanhMuc();
                    $("#tableDM").fadeIn();
                    TaiLaiPagination();
                    toastr["success"](data.message);
                } else {
                    toastr["error"](data.message);
                }
            }
        });
        return false;
    });

    //Sự kiện nút xóa của những danh mục được add bằng ajax
    $('body').on('click', '.btnXoaMoi', function () {
        var modal = $(this).parent().parent().parent().parent(".modal").attr("id");
        var IDmodal = $(this).attr("id");
        $.ajax({
            url: "<%= domain %>/danhmucs/" + $(this).attr("id") + "?token=" + $.cookie("token"),
            method: "DELETE",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                if (data.status == "ok") {
                    $("#" + modal).modal('toggle');
                    $("#tableDM").fadeOut();
                    $("#tableDM").empty();
                    LoadDanhMuc();
                    $("#tableDM").fadeIn();
                    TaiLaiPagination();
                    toastr["success"](data.message);
                    TongItem--;
                    page = 1;
                    TaiLaiPagination();


                } else {
                    toastr["error"](data.message);
                }
            }
        });
        /* SoTrang --;*/
        return false;
    });


</script>
<script>
    //Khai báo biến
    var TongItem = "<%= tongItem %>";
    var SoItemMoiPage = "<%= itemMoiPage %>";
    var page = 1;
    var SoTrang = "<%= soTrang %>";

    //Sự kiện trang trước
    $('body').on('click', '#pagiTruoc', function () {
        if (page == 1) {
            $("#pagiTruoc").addClass("disabled");
            return false;
        } else {
            $(".page-item").removeClass("active");
            $("#subpagi" + (page - 1)).addClass("active");
            $.ajax({
                url: "<%= domain %>/DanhMucs/" + (page - 1) + "?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function (data) {
                    $("#tableDM").empty();
                    $.each(data.DanhMuc, function (i, item) {
                        var html_to_append=
                            '<tr id="DMitem' + item.ID_DanhMuc + '">' +
                            '<th scope="row">' + item.ID_DanhMuc + '</th>' +
                            '<td>' + item.TenDanhMuc.Ten + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_DanhMuc + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_DanhMuc + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableDM").append(html_to_append);
                    });
                }
            });
            page = page - 1;
            $("#pagiSau").removeClass("disabled");
            if (page == 1) {
                $("#pagiTruoc").addClass("disabled");
            }
            return false;
        }
    });
    //Sự kiện trang sau
    $('body').on('click', '#pagiSau', function () {
        if (page == SoTrang) {
            $("#pagiSau").addClass("disabled");
            return false;
        } else {
            $(".page-item").removeClass("active");
            $("#subpagi" + (page + 1)).addClass("active");
            $("#pagiTruoc").removeClass("disabled");
            $.ajax({
                url: "<%= domain %>/DanhMucs/" + (page + 1) + "?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function (data) {
                    $("#tableDM").empty();
                    $.each(data.DanhMuc, function (i, item) {
                        var html_to_append=
                            '<tr id="DMitem' + item.ID_DanhMuc + '">' +
                            '<th scope="row">' + item.ID_DanhMuc + '</th>' +
                            '<td>' + item.TenDanhMuc.Ten + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_DanhMuc + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_DanhMuc + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableDM").append(html_to_append);
                    });
                }
            });
            page = page + 1;
            return false;
        }
    });

    ClickVaoCacTrang();
    function ClickVaoCacTrang() {
        <% for (i = 1;i <= soTrangLocal;i++){ %>
        $("<%= "#subpagi" + i %>").click(function () {
            $(".page-item").removeClass("active");
            $("#pagiSau").removeClass("disabled");
            $("<%= "#subpagi" + i %>").addClass("active");
            $.ajax({
                url: "<%= domain %>/DanhMucs/" + <%= i %> +"?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function (data) {
                    $("#tableDM").empty();
                    $.each(data.DanhMuc, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="DMitem' + item.ID_DanhMuc + '">' +
                            '<th scope="row">' + item.ID_DanhMuc + '</th>' +
                            '<td>' + item.TenDanhMuc.Ten + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_DanhMuc + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_DanhMuc + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableDM").append(html_to_append);
                    });
                }
            });
            <%= "page=" + i %>;
            if (page != 1) {
                $("#pagiTruoc").removeClass("disabled");
            }
            return false;
        });
        <% } %>
    }

    function TaiLaiPagination() {
        var SoTrangPagi = Math.ceil(TongItem / SoItemMoiPage);
        SoTrang = SoTrangPagi;
        $(".menu-phantrang").empty();
        $(".menu-phantrang").append(' <li id="pagiTruoc" class="page-item "><a class="page-link" href="#">Trước</a></li>');
        for (i = 1; i <= SoTrangPagi; i++) {
            var html_pagi =
                '  <li id="subpagi' + i + '" class="d-inline page-item pagesubitem active"><a class="page-link" href="#">' + i + '</a>';
            $(".menu-phantrang").append(html_pagi);
        }
        $(".menu-phantrang").append(' <li id="pagiSau" class="page-item "><a class="page-link" href="#">Sau</a></li>');
        $(".pagesubitem").removeClass("active");
        $(".pagesubitem:first").addClass("active");
        ClickVaoCacTrang();
    }

</script>
<script>
    $(document).ready(function () {
        $("#btnTimKiem").click(function () {

            $.ajax({
                url: "<%= domain %>/danhmucs/timtheoten/" + $("#inputTK").val() + "?token=" + $.cookie("token"),
                method: "GET",
                error: function () {
                    $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                },
                success: function (data) {
                    $("#tableDM").empty();
                    $.each(data.Items, function (i, item) {
                        var html_to_append;
                        html_to_append +=
                            '<tr id="DMitem' + item.ID_DanhMuc + '">' +
                            '<th scope="row">' + item.ID_DanhMuc + '</th>' +
                            '<td>' + item.TenDanhMuc.Ten + '</td>' +
                            '<td class=""><div class="btn btn-warning " data-toggle="modal" data-target="#modalSua' + item.ID_DanhMuc + '"> Sửa </div> <div class="btn btn-danger" data-toggle="modal" data-target="#modalXoa' + item.ID_DanhMuc + '"> Xóa </div></td>' +
                            '</tr>';
                        $("#tableDM").append(html_to_append);

                    });
                }
            });
            return false;
        });
    });

</script>