<% layout('../Layout/layoutAdminQLSanPhamChiTiet.ejs') -%>
<% script('../public/stylesheets/style') -%>

<%- partial('../ThanhPhanWeb/Carousel.ejs') %>

<div id="items-container"></div>
<div class="container" style="padding: 1rem">
    <div class="row">

        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active text-primary font-weight-bold"><h5>Quản lý thông tin Sản phẩm</h5>
                    </li>
                    <li class="ml-auto">Ngày tạo: <%= spData.NgayTao.Ngay%>/<%= spData.NgayTao.Thang%>/<%= spData.NgayTao.Nam%></li>
                </ol>
            </nav>
            <div class="col-sm-12 text-right">
                <span><h5 class="text-primary font-weight-bold">Trạng thái bán : <input id="toggle-event"
                                                                                        type="checkbox" checked
                                                                                        data-toggle="toggle"
                                                                                        data-on="Đang được bán"
                                                                                        data-off="Ngưng bán"
                                                                                        data-onstyle="success"
                                                                                        data-offstyle="secondary">
                    <div id="console-event"></div>
                    </h5> </span>
            </div>
            <div id="info"></div>
            <div class="row was-validated">
                <div class="col-sm-5">

                    <div class="form-group">
                        <label for="tbIDSanPham">ID sản phẩm</label>
                        <input type="text" class="form-control" id="tbIDSanPham" placeholder="Nhập ID sản phẩm"
                               name="tbTenSanPham" value="<%= spData.ID_SanPham %>" disabled>
                    </div>
                    <div class="form-group">
                        <label>Danh Mục</label>
                        <select class="form-control" id="tbDanhMuc">

                            <!--List danh mục được load vào đây-->
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Thương Hiệu</label>
                        <select class="form-control" id="tbThuongHieu">

                            <!--List thương hiệu được load vào đây-->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tbNoiSanXuat">Nơi sản xuất</label>
                        <input type="text" class="form-control" id="tbNoiSanXuat" placeholder="Nhập nơi sản xuất"
                               name="tbNoiSanXuat"
                               value="<% if(spData.ThongTin.NoiSanXuat != null){ %><%= spData.ThongTin.NoiSanXuat %><% } %>"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="tbCDBH">Chế độ bảo hành</label>
                        <input type="text" class="form-control" id="tbCDBH" placeholder="Nhập chế độ bảo hành"
                               name="tbCDBH"
                               value="<% if(spData.ThongTin.CheDoBaoHanh != null){ %><%= spData.ThongTin.CheDoBaoHanh %><% } %>"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="tbPKDK">Phụ kiện đi kèm</label>
                        <input type="text" class="form-control" id="tbPKDK" placeholder="Nhập phụ kiện đi kèm"
                               name="tbPKDK"
                               value="<% if(spData.ThongTin.PhuKienTheoKem != null){ %><%= spData.ThongTin.PhuKienTheoKem %><% } %>"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="tbAnh1">Ảnh 1</label>
                        <input type="text" class="form-control" id="tbAnh1" placeholder="Nhập link ảnh 1"
                               value="<% if(spData.Anh.Avatar != null){ %><%= spData.Anh.Avatar %><% } %>" required>
                    </div>
                    <div class="form-group">
                        <label for="tbAnh2">Ảnh 2</label>
                        <input type="text" class="form-control" id="tbAnh2" placeholder="Nhập link ảnh 2"
                               value="<% if(spData.Anh.Avatar != null){ %><%= spData.Anh.AvtDetail1 %><% } %>" required>
                    </div>
                    <div class="form-group">
                        <label for="tbAnh3">Ảnh 3</label>
                        <input type="text" class="form-control" id="tbAnh3" placeholder="Nhập link ảnh 3"
                               value="<% if(spData.Anh.AvtDetail2 != null){ %><%= spData.Anh.AvtDetail2 %><% } %>"
                               required>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="form-group">
                        <label for="tbTenSanPham">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="tbTenSanPham" placeholder="Nhập tên sản phẩm"
                               name="tbTenSanPham" value="<%= spData.TenSanPham %>" disabled>
                    </div>
                    <div class="form-group">
                        <label for="tbGia">Giá</label>
                        <input type="text" class="form-control" id="tbGia" placeholder="Nhập giá" name="tbGia"
                               value="<% if(spData.Gia != null){ %><%= spData.Gia %><% } %>" required>
                    </div>
                    <div class="form-group">
                        <label for="tbTiLeSale">Tỉ lệ sale</label>
                        <input type="text" class="form-control" id="tbTiLeSale" placeholder="Nhập tỉ lệ sale"
                               name="tbTiLeSale" value="<% if(spData.TiLeSale != null){ %><%= spData.TiLeSale %><% } %>"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="tbTongQuan">Mô tả tổng quát</label>
                        <textarea class="form-control" id="tbTongQuan" rows="2"
                                  required><%if(spData.MoTa.TongQuan!=null){%><%= spData.MoTa.TongQuan%><%} %></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tbChiTiet">Mô tả chi tiết</label>
                        <textarea class="form-control" name="ckeditor" required>
                            <% if(spData.MoTa.ChiTiet != null){ %><%= spData.MoTa.ChiTiet %><% } %>
                        </textarea>
                    </div>

                </div>
                <div class="col-sm-12 text-center">
                    <div id="btnLuu" class="btn btn-primary col-sm-5">Lưu</div>
                </div>
            </div>

        </div>
        <div class="col-sm-12" style="margin-top: 1rem">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active text-primary font-weight-bold"><h5>Quản lý Size</h5></li>
                    </ol>
                </nav>
                <div class="row-fluid">
                    <div class=" ml-auto ">
                        <button type="button" class="btn btn-primary d-inline " data-toggle="modal"
                                data-target="#modalThem">
                            Thêm size
                        </button>
                        <form class="form-inline ml-auto d-inline float-right ">
                            <div class="text-primary font-weight-bold"><h5>Tổng số lượng sản phẩm : <span id="tongSL" class="text-primary font-weight-bold"></span></h5></div>
                        </form>
                    </div>
                </div>

                <br><br>

                <table class="table table-hover">
                    <img src="https://bb4298.s3-us-west-1.amazonaws.com/index.svg" class="loadingDiv" alt="loadingIcon">
                    <thead>
                    <tr>

                        <th scope="col">Tên size</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody id="tableSize">


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal Thêm size-->

    <div class="modal fade" id="modalThem">
        <div class="modal-dialog modal-lg modal-lg modal-sm">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fas fa-store"></i> Thêm bài viết</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form class="was-validated">
                        <div class="form-group">
                            <label for="TenSize">Tên size</label>
                            <input type="text" class="form-control" id="TenSize" placeholder="Nhập tên size"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="SoLuong">Số lượng</label>
                            <input type="text" class="form-control" id="SoLuong" placeholder="Nhập số lượng"
                                   required>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <label id="btnXacNhanThem" class="btn btn-success" onclick="ThemSize()">Xác nhận</label>
                    <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Danh sách Modal Xóa size-->
<div id="DanhSachModalXoa">
    <% listSize.forEach(function (item) { %>
        <div class="modal fade" id="modalXoa<%= item.ID_Size %>">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title"><i class="fas fa-store"></i> Xóa danh mục</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        Bạn có thực sự muốn xóa size này, thao tác này không thể hoàn tác ?
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <label id="<%= item.ID_Size %>" class="btn btn-success btnXoaMoi">Xác nhận</label>
                        <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>
<script>
    var ListSize = [];
    var idDM = "<%= spData.ID_DanhMuc %>";
    var idTH = "<%= spData.ID_ThuongHieu %>";
    var idSP = "<%= spData.ID_SanPham %>";
    var trangThai = "<%= spData.TrangThaiBan %>";
    LoadDanhMucThuongHieu();

    <% if(spData.TrangThaiBan == true){ %>
    $('#toggle-event').bootstrapToggle('on');

    <% }else { %>
    $('#toggle-event').bootstrapToggle('off');

    <% } %>

    $(document).ready(function () {
        CKEDT()
    });

    function CKEDT() {
        CKEDITOR.config.language = 'vi';
        CKEDITOR.config.entities_latin = false;
        CKEDITOR.config.entities_greek = false;
        CKEDITOR.replace('ckeditor', {
            language: 'vi',
            entities_latin: false,
            entities_greek: false,
        });
    }

    function LoadDanhMucThuongHieu() {
        $.ajax({
            url: "<%= domain %>/DanhMucs?token=" + $.cookie("token"),
            method: "GET",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                $.each(data.DanhMuc, function (i, item) {
                    if (item.ID_DanhMuc == idDM) {
                        tenDM = item.TenDanhMuc.Ten;
                        var html_to_append =
                            '<option id="' + item.ID_DanhMuc + '" value="' + item.TenDanhMuc.Ten + '" class="itemDM" selected>' + item.TenDanhMuc.Ten + '</option>';
                        $("#tbDanhMuc").append(html_to_append);
                    } else {
                        var html_to_append =
                            '<option id="' + item.ID_DanhMuc + '" value="' + item.TenDanhMuc.Ten + '" class="itemDM">' + item.TenDanhMuc.Ten + '</option>';
                        $("#tbDanhMuc").append(html_to_append);
                    }

                });
            },
        });
        $.ajax({
            url: "<%= domain %>/ThuongHieus?token=" + $.cookie("token"),
            method: "GET",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {

                $.each(data.ThuongHieu, function (i, item) {
                    if (item.ID_ThuongHieu == idTH) {
                        tenTH = item.TenThuongHieu.Ten;
                        var html_to_append =
                            '<option id="' + item.ID_ThuongHieu + '" value="' + item.TenThuongHieu.Ten + '" class="itemTH" selected >' + item.TenThuongHieu.Ten + '</option>';
                        $("#tbThuongHieu").append(html_to_append);
                    } else {
                        var html_to_append =
                            '<option id="' + item.ID_ThuongHieu + '" value="' + item.TenThuongHieu.Ten + '" class="itemTH" >' + item.TenThuongHieu.Ten + '</option>';
                        $("#tbThuongHieu").append(html_to_append);
                    }


                });
            },
        });
    }

    $('body').on('change', '#tbDanhMuc', function (e) {
        idDM = $(e.target).find("option:selected").attr("id");
    });

    $('body').on('change', '#tbThuongHieu', function (e) {
        idTH = $(e.target).find("option:selected").attr("id");
    });

    //Sự kiện nút sửa sản phẩm
    $('body').on('click', '#btnLuu', function () {
        var ChiTiet = CKEDITOR.instances['ckeditor'].getData();
        $.ajax({
            url: "<%= domain %>/SanPhams/QlSp/Admin/" + $("#tbIDSanPham").val() + "?token=" + $.cookie("token"),
            method: "PUT",
            cache: false,
            data: {
                ID_DanhMuc: idDM,
                ID_ThuongHieu: idTH,
                NoiSanXuat: $("#tbNoiSanXuat").val(),
                CheDoBaoHanh: $("#tbCDBH").val(),
                PhuKienTheoKem: $("#tbPKDK").val(),
                Anh1: $("#tbAnh1").val(),
                Anh2: $("#tbAnh2").val(),
                Anh3: $("#tbAnh3").val(),
                Gia: $("#tbGia").val(),
                TiLeSale: $("#tbTiLeSale").val(),
                TongQuan: $("#tbTongQuan").val().trim(),
                ChiTiet: ChiTiet
            },
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                if (data.status == "ok") {

                    toastr["success"](data.message);
                } else {
                    toastr["error"](data.message);
                }
            }
        });
        return false;
    });

    //Sự kiện thay đổi trạng thái bán
    $('#toggle-event').change(function () {

        if (trangThai == "true") {
            HuyBan();
            return false;
        }
        if (trangThai == "false") {
            MoBan();
            return false;
        }
    });

    function HuyBan() {
        $.ajax({
            url: "<%= domain %>/SanPhams/QlSp/Admin/huyban/sp?token=" + $.cookie("token"),
            method: "PUT",
            cache: false,
            data: {
                idsanpham: idSP
            },
            error: function () {
                toastr["error"]("Khóa sản phẩm thất bại !");
            },
            success: function (data) {
                if (data.status == "ok") {

                    // toastr["success"](data.message);
                } else {
                    toastr["error"](data.message);
                }
            }
        });
        trangThai = "false";

    }

    function MoBan() {
        $.ajax({
            url: "<%= domain %>/SanPhams/QlSp/Admin/moban/sp?token=" + $.cookie("token"),
            method: "PUT",
            cache: false,
            data: {
                idsanpham: idSP
            },
            error: function () {
                toastr["error"]("Khóa sản phẩm thất bại !");
            },
            success: function (data) {
                if (data.status == "ok") {

                    // toastr["success"](data.message);
                } else {
                    toastr["error"](data.message);
                    $('#toggle-event').bootstrapToggle('off');
                }
            }
        });
        trangThai = "true";
    }

    LoadSize();
    function LoadSize() {
        $.ajax({
            url: "<%= domain %>/SanPhams/QlSp/Admin/timsize/theoidsp/size?idsanpham="+idSP+"&token=" + $.cookie("token"),
            method: "GET",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                $("#tongSL").text(data.TongSL);
                $.each(data.Items, function (i, item) {
                    var html_to_append =
                        '      <tr>' +
                        '  <td>' + item.TenSize + '</td>' +
                        '   <td><input class="form-control col-sm-6 value "  value="' + item.SoLuong + '" disabled></td>' +
                        '      <td>' +
                        '      <div class="btn btn-warning btnSua" data-toggle="modal"' +
                        '       data-target="#modalThem' + item.ID_Size + '"> Sửa' +
                        '       </div>' +
                        '   <div class="btn btn-danger" data-toggle="modal"' +
                        '   data-target="#modalXoa' + item.ID_Size + '"> Xóa' +
                        '     </div>' +
                        '     <button id="' + item.ID_Size + '" class="btn btn-success btnXacNhan" disabled> Xác nhận </button>' +
                        '       </td>' +
                        '      </tr>';
                    $("#tableSize").append(html_to_append);
                });
            },
        });
    }

    //Thêm size
    function ThemSize() {
        // alert($("#TenSize").val());
        // alert($("#SoLuong").val());
        $.ajax({
            url: "<%= domain %>/SanPhams/QlSp/Admin/themsize/sp?token=" + $.cookie("token"),
            method: "POST",
            cache:false,
            data:{
                idsp:idSP,
                tensize:$("#TenSize").val(),
                soluong:$("#SoLuong").val()
            },
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                if (data.status == "ok") {
                    $("#tableSize").fadeOut();
                    $("#tableSize").empty();
                    LoadSize();
                    $("#tableSize").fadeIn();
                    $('#modalThem').modal('toggle');
                    var Html_Modal_XoaDM =
                        '<div class="modal fade" id="modalXoa' + data.idSize + '">' +
                        ' <div class="modal-dialog modal-sm">' +
                        '     <div class="modal-content">' +
                        '     <!-- Modal Header -->' +
                        '  <div class="modal-header">' +
                        '   <h4 class="modal-title"><i class="fas fa-store"></i> Xóa size</h4>' +
                        ' <button type="button" class="close" data-dismiss="modal">&times;</button>' +
                        '   </div>' +
                        '  <div class="modal-body">' +
                        '    Bạn có thực sự muốn xóa size này, thao tác này không thể hoàn tác ?' +
                        '     </div>' +
                        '  <div class="modal-footer">' +
                        '  <label id="' + data.idSize + '" class="btn btn-success btnXoaMoi">Xác nhận</label>' +
                        '  <label class="btn btn-secondary" data-dismiss="modal">Hủy</label>' +
                        '   </div>' +
                        ' </div>' +
                        '   </div>' +
                        '     </div>';
                    $("#DanhSachModalXoa").append(Html_Modal_XoaDM);
                    toastr["success"](data.message);
                } else {
                    toastr["error"](data.message);
                }
            }
        });
        return false;
    }
    $('body').on('click', '.btnSua', function () {
        $(".value").prop("disabled",true);
        $(".btnXacNhan").prop("disabled",true);
        $(this).parent().parent().find(".value").prop( "disabled", false );
        $(this).parent().parent().find(".btnXacNhan").prop( "disabled", false );
    });

    //Sự kiện sửa size
    $('body').on('click', '.btnXacNhan', function () {
        var soLuong = $(this).parent().parent().find(".value").val();
        $.ajax({
            url: "<%= domain %>/SanPhams/QlSp/Admin/suasize/sp?token=" + $.cookie("token"),
            method: "PUT",
            cache:false,
            data:{
                idsize:$(this).attr("id"),
                soluong : soLuong
            },
            error: function (err) {
                toastr["error"]("Dữ liệu không hợp lệ, vui lòng thử lại !");
            },
            success: function (data) {
                if (data.status == "ok") {
                    $.ajax({
                        url: "<%= domain %>/SanPhams/QlSp/Admin/timsize/theoidsp/size?idsanpham="+idSP+"&token=" + $.cookie("token"),
                        method: "GET",
                        error: function () {
                            $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
                        },
                        success: function (data) {
                            $("#tongSL").text(data.TongSL);
                        }
                    });
                    toastr["success"](data.message);

                } else {
                    toastr["error"](data.message);
                }
            }
        });

        $(".btnXacNhan").prop("disabled",true);
        $(".value").prop("disabled",true);
    });

    //Sự kiện xóa size
    $('body').on('click', '.btnXoaMoi', function () {
        var modal = $(this).parent().parent().parent().parent(".modal").attr("id");
        $.ajax({
            url: "<%= domain %>/SanPhams/QlSp/Admin/xoasize/sp?token=" + $.cookie("token"),
            method: "DELETE",
            cache:false,
            data:{
                idSP:$("#tbIDSanPham").val(),
                idsize:$(this).attr("id")
            },
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                if (data.status == "ok" && data.key == "mo") {
                    $("#" + modal).modal('toggle');
                    $("#tableSize").fadeOut();
                    $("#tableSize").empty();
                    LoadSize();
                    $("#tableSize").fadeIn();

                    toastr["success"](data.message);

                }
                else if(data.status == "ok" && data.key == "khoa"){
                    $("#" + modal).modal('toggle');
                    $("#tableSize").fadeOut();
                    $("#tableSize").empty();
                    LoadSize();
                    $("#tableSize").fadeIn();
                    $('#toggle-event').bootstrapToggle('off');
                }
                else {
                    toastr["error"](data.message);
                }
            }
        });
        $.ajax({
            url: "<%= domain %>/SanPhams/QlSp/Admin/timsize/theoidsp/size?idsanpham="+idSP+"&token=" + $.cookie("token"),
            method: "GET",
            error: function () {
                $('#info').html('<h2>Máy chủ bị lỗi, Xin vui lòng quay lại sau. Xin cảm ơn :))</h2>');
            },
            success: function (data) {
                $("#tongSL").text(data.TongSL);
            }
        });
        return false;
    });
</script>
